body{
font-family: "Open Sans","Helvetica Neue",sans-serif !important;

}
.defpy-body{
	
background-color:#F9F9F9 !important;
	
}
.def-left{
	height:auto;
}
.tech-logo{
border-bottom:solid #AAABAB 2px;	
}
.def-middle{
background-color:#FFF;
height:auto;		
}
.current-page{
white-space: nowrap;
font-size: 11px;
text-transform: uppercase;		
}
.heading-bg{	
display:block;	
padding:10px;
text-align:center;
background-color:#5BC0DE;
color:#FFF;	
margin-top: -9px;
}

.tech-heading p{
color: rgb(68,68,68);
font-family: 'Open Sans' , 'Helvetica Neue' , sans-serif;
font-size: 14.0px;
line-height: 20.0px;
text-align: justify;
background-color: rgb(255,255,255);
	
}

.right-contact{
background-color:#FFF;
height:auto;	
	
	
}
.right-contact ul li{
	
border-bottom: 1px dotted #EFEFEF;
padding:7px;	
	
}
.right-side-query{
background-color:#FFF;
height:auto;
text-align:center;
padding:3px;	
	
	
}
.right-side-query .form-control{
border-radius:0px;
/* width:100px;	*/
	
	
}
.def-left ul li{
	border-bottom: 1px solid #AAABAB;
	
	
}
.left-menu{
	background-color:#ecedee;
	width: 100%;
	
	
}
.space{
height:15px;	
	
}
.navbar-custom{
background:none repeat scroll 0 0 #313b3d;
height:auto;
color:#FFF;
	
	
}
.left-menu .active{
border-radius:0px;	
	
}
.def-table .table-bordered>thead>tr>th{
	
border:0px;
background-color:#ecedee;
text-align:center;	

	
}
.footer{
background:none repeat scroll 0 0 #313b3d;
height:auto;	
	
}
.footer p{
	
font-size:14px;
color:#FFF;
text-align:justify;	
}
.footer h4{
color:#FFF;
text-transform:uppercase;
font-weight:600;
font-size:14px;	
	
}
.post-area{
margin-top:15px;
padding-bottom:0px;
color: white;
	
}
.post{

}
.pull_left{
	padding-bottom:15px;
	margin-right:0px;
}
.blog-1 .img-thumbnail{
	background-color:#313b3d;
	border:none;
	margin-right:5px;
	
}
.blog-2{
margin-top:25px;	
	
}
.blog-2 .img-thumbnail{
	background-color:#313b3d;
	border:none;
	margin-right:5px;
	
}
.footer-courses{
margin-bottom:7px;	
	
}
.footer-courses li{
color:#FFF;
padding:5px;	
}
.footer-courses li>a{
color:#FFF;
text-align:center;
	
}
.footer-courses li>a:hover{
text-decoration:none;
	
	
}
.post-area a:hover{
text-decoration:none;

}
.boxed{
	
	margin-right: auto;
	margin-left: auto;
	position: relative;
	-webkit-box-shadow: 0px 0px 10px #cacaca;;
	box-shadow: 0px 0px 10px #cacaca;;
	
	
}
.course-name h4{
font-weight:600;
color:#000;
text-transform:uppercase;	
	
}
.input_search{
background:none repeat scroll 0% 0% #E4E2E2;
color:#3a3a3a;
border:0px none;
padding:8px 40px 8px 10px;
outline:0px none !important;
width:80%;
border-radius:4px;
height:40px;	
	
	
}
.search-icon{
background:none repeat scroll 0px 0px transparent;
border:0px none;
color:#5d5d5e;
font-size:18px;
margin:-12px 0px 0px -30px;
right:0px;	
	
}
.copyright-field{
	
background-color:#232B2D;
	
	
}
.copyright-field h5{
	
color:#FFF;
font-style:oblique;
	
	
}
.socrite{
	background: url(../images/socrite.png) no-repeat top left;
width: 30px;
height: 30px;
display: inline-block;
margin-right: 10px;
	
}
.socrite.fb {
background-position: 0px 0px;
}
.socrite.gplus {
background-position: -40px 0px;
}
.socrite.twitter {
background-position: -80px 0px;
}
.socrite.youtube {
background-position: -120px 0px;
}
.navbar-custom .nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: #5bc0de;
}
.navbar-custom .nav-pills > li > a{
color:#FFF;	
	
}
.navbar-custom .nav-pills > li > a:hover{
	background-color: #5bc0de;
}

.navbar-custom .nav>li>a{
padding:15px;	
}
.margin-bottom15 {
margin-bottom: 15px;
}
.course-menu .nav-stacked {
float: none;
width: inherit;
}
.nav-stacked > li {
border-color: #eaeaea;
border-style: solid;
border-width: 1px;
margin-left: 0;
margin-top: 0;
}
.nav-stacked li a.active {
background-color: #ebebeb !important;
outline: hidden;
color: #1a1a1a !important;
}
.course-panel {
border: 1px solid #ddd;
margin-bottom: 30px;
height: auto;
}
.course-content-panel {
height: auto;
padding: 0 15px;
}

.each-course-panel {
height: auto;
padding: 10px 0;
}
.pdetails {
border: none;
}

.font-11
{
	font-size: 11px;
}

.fa-server
{
	color: blue;
}

.about-para{
	text-align: justify;
	font-size: 18px;
}

.fa-check{
	color: #4391ab;
}

.custom-border{
	border: 1px solid grey;
}

.page-margin{
	margin-top:10px; 
	margin-bottom: -45px;
}

.error{
	color:red;
	font-weight: normal;
	font-style: italic;
	font-size: 14px;
}

.starcolor{
	color: #eac605;
}

p{
	text-align: justify;
	color: #495961;
}

.top-content{
	font-size: 19px;
	font-family: Times New Roman;
}

.control-label{
	font-family: Times New Roman;
	font-weight: normal;
	font-size: 17px;
	overflow: hidden;
}

.enroll-header{
	background-color : #313b3d;
	color: #FFF;
	text-transform: uppercase;
	height: auto;
	padding: 6px;
	text-align: center;
}

.no-border-radius{
	border-radius: 0px;
}

.our-comptence, .about-us, .our-vision{
	background-color: #FFF;
	text-align: justify;
	font-family: Times New Roman;
	font-size: 17px;
	border-bottom: solid 1px blue;
	padding: 5px 5px 5px 5px;
}

.tag{
	background-color: #31B0D5;
	font-family: Times New Roman;
	font-size: 27px;
	width: 204px;
	margin-left: -15px;
	color: white;
}

.tag2{
	background-color: #31B0D5;
	font-family: Times New Roman;
	font-size: 17px;
	width: 112px;
	color: white;
	margin-top: -45px;
}

.font-15{
	font-size: 15px;
}

.form_decoration button {
    background-color: #78c8ce !important;
    border-radius: 0 !important;
    color: #fff;
    font-size: 14px !important;
    margin-bottom: 10px;
    margin-top: 11px;
    padding: 11px 60px !important;
}
.nav-stacked {
    float: left;
    width: 100%;
}
#ajax_testimonial {
    margin-top: 9%;
}
.breadcrumbs {
    margin-bottom: 2% !important;
    margin-top: -1% !important;
}
.feed-element, .media-body {
    color: inherit;
}
.course-menu .nav-stacked {
    float: none;
    width: inherit;
}
.course_contact {
    border-right: 1px solid #bababa;
    color: #666;
    display: inline;
    font-size: 11px;
    margin-top: -12px;
    vertical-align: top;
}
.course_phn_details {
    color: #1a1a1a;
    font-weight: bold;
    vertical-align: top;
}
.floating-query {
    height: 100%;
    position: fixed;
    right: 10px;
    z-index: 99;
}
.floating-drop-query {
    background: none repeat scroll 0 0 #1b75bb;
    border-radius: 2px;
    box-shadow: 0 5px 10px #bbb;
    color: #fff;
    float: right !important;
    font-size: 18px;
    height: 145px;
    position: fixed;
    right: 0.5%;
    text-align: center;
    top: 30% !important;
    width: 50px;
}
.floating-drop-query:hover {
    background: none repeat scroll 0 0 #005fa0;
    color: #fff !important;
    cursor: pointer;
    text-decoration: none !important;
}

.vertical-text {
    bottom: 0;
    display: block;
    margin-left: 5px;
    margin-top: 25px;
    transform: rotate(90deg);
    white-space: nowrap;
}

.model-width-50{
	width: 50%
}

.margin-1em{
	margin-top: 1em;
}

.margin-7{
	margin: 7px;
} 

.padding-0{
	padding: 0px;
}

.new-color{
	color: #428bca;
}

.common-breakup-info {
    color: #0f75bc;
    font-size: 30px;
    text-align: left;
}
.breakup-sub-detail{
    color:red;
    text-align: left;
    font-size: 12px;
}
.logo{
    height: 100px;
}