.laziz_header{

background-color:#ed1c24;;
	
}
.logo_image{
	
float:left;
}
.laziz_nav{ 
	
padding-top:5%;	

}
.nav>li>a {
color: #FFF;
font-family: "InterstateRegular", serif;
font-weight: bold;
}
.nav>li>a:hover{
	background-color:#C03;	
	
}
.dropdown:active .dropdown-menu{
	
display:block;	
}
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover {
background-color:#6f5499;
color:#FFF;
	
	
}
.laziznav .nav>li>a:hover{
background-color:#003;	
	
}
.navbar-toggle:hover{
	background-color:#6f5499 !important;
	
}
.navbar-toggle:hover .icon-bar {
		
		background-color:#FFF;
	}