/*
Theme Name: iVega - Clean & Modern HTML5 template
Author: HtmlCoder
Author URI: http://www.htmlcoder.me
Author e-mail: htmlcoder.me@gmail.com
Version: 1.0.0 
Created: July 2014
License URI: http://wrapbootstrap.com
File Description: Main CSS file of the template
*/

/*
TABLE OF CONTENTS

1) Fonts
2) Typography
3) Layout
4) Sections
5) Pages ( blog, about etc )
6) Template Elements
7) Navigations
8) Main Slideshow
9) Blocks/Widgets
10) Owl carousel
**/

/* 1 Fonts
----------------------------------------------------------------------------- */
body, input, textarea, select, blockquote, .main-navigation .navbar ul ul {
	font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6, .logo, .main-navigation .navbar, .btn, .caption {
	font-family: 'Lato', sans-serif;
}

/* 2 Typography
----------------------------------------------------------------------------- */
body {
	font-size: 15px;
	line-height: 1.50;
	color: #434343;
	background-color: #ebebeb;
}
h1, h2, h3, h4, h5, h6 {
	color: #434343;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: #434343;
}
h1 {
	font-size: 48px;
	font-weight: 700;
}
h2 {
	font-size: 28px;
	margin-bottom: 15px;
}
h3 {
	font-size: 22px;
}
h4 {
	font-size: 18px;
	font-weight: 700;
}
h5 {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
}
h6 {
	font-weight: 700;
}
h1.page-title {
	margin: 25px 0 10px;
	font-size: 36px;
}
.main-content h1 {
	margin-bottom: 15px;
}
.title {
	margin-top: 0;
}
.footer h2 {
	font-size: 20px;
}
p {
	margin-bottom: 20px;
}
a {
	color: #3f85c2;
	-webkit-transition: all 0.2s ease-in-out;
	   -moz-transition: all 0.2s ease-in-out;
	    -ms-transition: all 0.2s ease-in-out;
	     -o-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
}
a:hover {
	color: #3472a8;
}
.preload * {
	-webkit-transition: none !important;
	   -moz-transition: none !important;
		-ms-transition: none !important;
		 -o-transition: none !important;
			transition: none !important;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
blockquote {
	border-left: none;
	display: block;
	margin: 40px auto 30px;
	font-size: 18px;
	position: relative;
	padding: 10px 0;
	margin-left: 95px;
}
blockquote:after {
	content: "“";
	width: 75px;
	height: 75px;
	text-align: center;
	line-height: 48px;
	font-size: 140px;
	color: #eaeaea;
	font-family: 'PT Serif', serif;
	position: absolute;
	top: 30px;
	left: -95px;
}
.blockquote:before {
	font-family: 'PT Serif', serif;
	content: "“";
	font-size: 40px;
}

mark, .mark {
	background-color: #3f85c2;
	color: #ffffff;
}
pre {
	padding: 20px;
	-webkit-border-radius: 0px;
	   -moz-border-radius: 0px;
    		border-radius: 0px;
}

/* Lists
----------------------------------*/
ul, ol {
	margin-bottom: 20px;
}
.list {
	list-style: none;
	padding: 0;
	margin: 15px 0;
}
.list li {
	padding: 4px 0;
}
.list-triangle {
	list-style: none;
	padding-left: 20px;
	margin: 20px 0;
}
.list-triangle li {
	padding: 5px 0 0;
	position: relative;
}
.list-triangle li:after {
	font-family: "FontAwesome";
	content: "\f0da";
	position: absolute;
	left: -20px;
	color: #3f85c2;
	top: 6px;
}

/* Tables 
----------------------------------*/
.table > thead > tr > th {
	vertical-align: bottom;
	border-bottom: 1px solid #3f85c2;
	background-color: #3f85c2;
	color: #fff;
}
.table-bordered {
	border-color: #3f85c2;
}
.table-bordered > thead > tr > th, 
.table-bordered > tbody > tr > th, 
.table-bordered > tfoot > tr > th, 
.table-bordered > thead > tr > td, 
.table-bordered > tbody > tr > td, 
.table-bordered > tfoot > tr > td {
	border-color: #E2E2E2;
}

/* Media queries
----------------------------------*/
/* Medium devices (desktops, tablets less than 991px) */
@media (max-width:991px) {
	h1.page-title {
		font-size: 32px;
	}
}

/* Small devices (tablets, phones less than 767px) */
@media (max-width:767px) {
	blockquote {
		padding: 10px;
		margin: 20px 0 20px 45px;
	}
	blockquote:after {
		font-size: 100px;
		left: -65px;
	}
}

/* 3 Layout
----------------------------------------------------------------------------- */
.page-wrapper {
	background-color: #fff;
	border-top: 1px solid #3f85c2;
}
.page-wrapper.boxed { 
	margin-right: auto;
	margin-left: auto;
	position: relative;
	box-shadow: 0px 0px 20px #C2C2C2;
}
.preheader {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1002;
}
.preheader * {
	color: #fff;
}
.preheader-content {
	padding: 30px 0;
	display: none;
	position: relative;
	z-index: 1002;
}
.header-top {
	border-bottom: 1px solid #e0e0e0;
	color: #464646;
	padding: 7px 0 0 0;
}
.boxed .header-top {
	padding-right: 25px;
}
.header {
	background-color: #f8f8f8;
	border-top: 1px solid #ffffff;
}
.main-navigation {
	border-top: 1px solid #E7E7E7;
	z-index: 3;
	position: relative;
	background-color: #fff;
}
.header-style-2 {
	border-top: none;
}
.not-front .main-navigation {
	box-shadow: 0px 3px 3px #EBEBEB;
}
.banner {
	background-color: #f8f8f8;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}
.page-intro {
	min-height: 90px;
	margin: 0 0 80px;
	border-bottom: 1px solid #E7E7E7;
	box-shadow: inset 0px -2px 2px #ECECEC;
	background-color: #fcfcfc;
}
.not-front .main-content-wrapper {
	padding-bottom: 80px;
}
.section {
	padding: 65px 0 45px;
}
.call-to-action {
	padding: 25px 0;
}
.bg-color-light {
	background-color: #fafafa;
	border-top: 1px solid #b2bfca;
	border-bottom: 1px solid #b2bfca;
}
.bg-color-gray {
	background-color: #b2bfca;
}
.bg-color-default {
	background-color: #3f85c2;
}
.bg-color-gray *, .bg-color-default * {
	color: #fff;
}
.footer {
	background-color: #2e343a;
	padding: 50px 0 80px;
}
.subfooter {
	background-color: #22272b;
	padding: 40px 0;
}
.bordered {
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
}

/* Blocks
----------------------------------*/
.block {
	margin-bottom: 40px;
}
.sidebar .block {
	margin-bottom: 70px;
	padding-bottom: 25px;
	border-bottom: 1px solid #b2bfca;
}
.sidebar .block:first-child > h3 {
	margin-top: 1px;
}
.sidebar .block > h3 {
	margin-bottom: 25px;
}

/* Miscellaneous
----------------------------------*/
.space {
	padding: 25px 0px;
}
.separator {
	width: 100px;
	background-color: #434343;
	height: 1px;
	text-align: center;
	margin: 25px auto;
	position: relative;
}
.separator:after {
	position: absolute;
	width: 8px;
	height: 8px;
	background-color: #3f85c2;
	content: "";
	top: -4px;
	margin-left: -4px;
	left: 50%;
}
.separator-2 {
	width: 100px;
	background-color: #434343;
	height: 1px;
	margin: 25px 0;
}
.vertical-div {
	height: 20px;
	background-color: #434343;
	width: 1px;
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -10px;
}
.divider {
	margin: 15px 0 !important;
}
.vertical-divider-left {
	border-left: 1px solid #eeeeee;
	padding-left: 50px;
	margin-left: 20px;
}
.vertical-divider-right {
	border-right: 1px solid #eeeeee;
	padding-right: 50px;
	margin-right: 20px;
}
.triangle {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 50px 50px 0;
	width: 50px !important;
	display: inline !important;
	border-color: transparent #f8f8f8 transparent transparent;
	position: relative;
}
.triangle.opened {
	border-color: transparent rgba(0, 0, 0, 0.8) transparent transparent;
	top: -1px;
}
.small.triangle {
	border-width: 0 35px 35px 0;
	width: 35px !important;
}
.triangle i {
	position: absolute;
	top: 10px;
	left: 30px;
	font-size: 16px;
	color: #3f85c2;
	-webkit-transition: all 0.2s ease-in-out;
	   -moz-transition: all 0.2s ease-in-out;
	    -ms-transition: all 0.2s ease-in-out;
	     -o-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
}
.small.triangle i {
	font-size: 11px;
	top: 7px;
	left: 20px;
}
.triangle.opened i {
	color: #fff;
}
.pl-10 {
	padding-left: 10px;
}
.pl-20 {
	padding-left: 20px;
}
.pr-10 {
	padding-right: 10px;
}
.pr-20 {
	padding-right: 20px;
}
.space-top {
	padding-top: 40px;
}
.space-bottom {
	padding-bottom: 40px;
}
.pb-clear {
	padding-bottom: 0 !important;
}
.pt-clear {
	padding-top: 0 !important;
}
.bt-clear {
	border-top: none !important;
}
.br-clear {
	border-right: none !important;
}
.bl-clear {
	border-left: none !important;
}
.bb-clear {
	border-bottom: none !important;
}
.object-non-visible, .csstransitions .caption-non-visible {
	opacity: 0;
	filter: alpha(opacity=0);
}
.object-visible, .touch .object-non-visible {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
}

/* Media queries
----------------------------------*/
/* Small devices (tablets, 768px and up) */
@media (min-width:768px) {
	/*layout*/
	.page-wrapper.boxed { 
		width: 750px;
	}
	.main-navigation {
		padding: 20px 0;
	}
	.main-navigation.header-style-2 {
		padding: 10px 0;
	}
}
/* Medium devices (desktops, tablets, 992px and up) */
@media (min-width: 992px) {
	.page-wrapper.boxed { 
		width: 970px;
	}
}
/* Large devices (Large desktops 1200px and up) */
@media (min-width: 1200px) {
	.page-wrapper.boxed { 
		width: 1200px;
	}
}
/* Medium devices (desktops, tablets less than 991px) */
@media (max-width:991px) {
	/*layout*/
	.header-top { 
		text-align: center;
	}
	.not-front .main-content {
		margin: 0 0 60px 0;
	}
	.not-front .sidebar + .main-content {
		margin: 60px 0 60px 0;
	}
	/*miscellaneous*/
	.side.vertical-divider-left {
		border-left: none;
		padding-left: 0px;
		margin-left: 0px;
	}
	.side.vertical-divider-right {
		border-right: none;
		padding-right: 0px;
		margin-right: 0px;
	}	
}

/* Small devices (tablets, phones less than 767px) */
@media (max-width:767px) {
	/* Fixed header position */
	.fixed.main-navigation {
		position: relative !important;
		top: auto !important;
	}
	section.main {
		margin-top: 0 !important;
	}
}

/* 4 Sections
----------------------------------------------------------------------------- */
/* Preheader
----------------------------------*/
.trigger {
	position: absolute;
	top: 100%;
	right: 0;
	cursor: pointer;
	font-size: 0;
	z-index: 1002;
	border-top: 1px solid transparent;
}
.preheader h2 {
	margin-top: 0;
}

/* Page-intro
----------------------------------*/
.page-intro * {
	color: #464646;
}

/* Sidebar
----------------------------------*/
.sidebar {
	font-size: 14px;
}

/* Footer
----------------------------------*/
.footer {
	color: #cecece;
	font-size: 14px;
	font-weight: 300;
}
.footer a, .subfooter a {
	color: #559edd;
}
.footer a:hover, subfooter a:hover {
	color: #488fcc;
}
.footer h2 {
	color: #cecece;
	margin-bottom: 30px;
}

/* Fubfooter
----------------------------------*/
.subfooter {
	font-weight: 300;
	color: #cecece;
	font-size: 14px;
}
.subfooter p {
	margin: 0;
}

/* Media queries
----------------------------------*/
/* Small devices (tablets, 768px and up) */
@media (min-width:768px) {
	/*subfooter*/
	.subfooter {
		text-align: center;
	}
}

/* Medium devices (desktops, tablets less than 991px) */
@media (max-width:991px) {
	.page-intro {
		text-align: center;
	}
}

/* Small devices (tablets, phones less than 767px) */
@media (max-width:767px) {
	/*footer*/
	.footer-content {
		margin: 0 0 90px 0;
	}
	.col-sm-4:last-child .footer-content, 
	.col-sm-3:last-child .footer-content, 
	.col-sm-6:last-child .footer-content {
		margin: 0 0 20px;
	}
}

/* 5 Pages
----------------------------------------------------------------------------- */
/* Blog 
----------------------------------*/
article {
	position: relative;
}
article header h2 {
	margin-top: 0;
}
article header h1 {
	margin-top: -3px;
}
article.blogpost {
	margin-bottom: 100px;
}
article.blogpost.full {
	margin-bottom: 40px;
}
.post-date {
	color: #ffffff;
	padding: 10px 0;
	position: absolute;
	top: 5px;
	left: 0;
	width: 75px;
	text-align: center;
	background-color: #3f85c2;
}
.post-date .day {
	font-size: 32px;
	display: block;
	line-height: 1;
}
.post-date .month {
	font-size: 12px;
	text-transform: uppercase;
	line-height: 1;
}
.blogpost-content {
	margin-left: 95px;
	border-bottom: 1px solid #b2bfca;
}
.full .blogpost-content {
	border-bottom: none;
}
.post-info {
	color: #b2bfca;
	font-size: 12px;
	margin: 0px 0 40px 0;
}
.post-info span {
	margin: 0 10px;
}
.post-info span:first-child {
	margin-left: 0;
}
.post-info span i {
	margin-right: 5px;
}
.post-info a {
	color: #464646;
}
.post-info a:hover {
	text-decoration: underline;
}

/* Comments 
----------------------------------*/
.comments {
	margin-top: 60px;
}
.comments h2.title {
	margin-bottom: 40px;
	border-bottom: 1px solid #b2bfca;
	padding-bottom: 10px;
}
.comment {
	font-size: 14px;
}
.comment .comment {
	margin-left: 75px;
}
.comment-avatar {
	margin-top: 5px;
	width: 55px;
	float: left;
}
.comment-content {
	margin-left: 75px;
	border-bottom: 1px solid #b2bfca;
	margin-bottom: 40px;
}
.comment h3 {
	margin-top: 0;
	margin-bottom: 5px;
}
.comment-meta {
	margin-bottom: 15px;
	color: #b2bfca;
	font-size: 12px;
}
.comment-meta a {
	color: #464646;
}
.comment-meta a:hover {
	text-decoration: underline;
}
.comment .btn {
	font-size: 12px;
	padding: 7px;
	min-width: 100px;
	margin-top: 5px;
}
.comment .btn i {
	padding-right: 5px;
}

/* Portfolio 
----------------------------------*/
.filters {
	margin: 0 0 40px 0;
}
.filters .nav-pills > li {
	margin-right: 2px;
	margin-bottom: 2px;
}
.filters .nav-pills > li + li {
	margin-left: 0px;
}

/* Portfolio Item 
----------------------------------*/
.portfolio-item.side {
	font-size: 14px;
}
.portfolio-item.side .list li strong {
	padding-right: 15px;
	position: relative;
}
.portfolio-item.side .list li strong:after {
	position: absolute;
	content: "";
	height: 60%;
	width: 1px;
	background-color: #CECECE;
	right: 9px;
	top: 5px;
}
#share a {
	margin: 3px 3px 0 0;
}

/* Media queries
----------------------------------*/
/* Small devices (tablets 768px and up) */
@media (min-width:768px) {
	/*Comments form*/
	.comments-form form {
		overflow: hidden;
	}
	.comments-form .form-group.name, 
	.comments-form .form-group.subject {
		width: 47.5%;
		float: left;
	}
	.comments-form .form-group.message {
		float: left;
		width: 100%;
	}
	.comments-form .form-group.name {
		margin-right: 5%;
	}
}

/* Small devices (tablets, phones, less than 767px) */
@media (max-width:767px) {
	.team-member {
		max-width: 450px;
		margin-left: auto;
		margin-right: auto;
	}
}

/* Extra small devices (phones, less than 480px) */
@media (max-width:480px) {
	/*Portfolio page*/
	.filters .nav-pills > li {
		display: inline-block;
		width: 100%;
	}

	/*Portfolio item page*/
	.portfolio-item.side .list {
		font-size: 13px;
	}
	.portfolio-item.side .list li strong {
		display: block;
	}
	.portfolio-item.side .list li strong:after {
		background-color: transparent;
	}
}

/* 6 Template Elements
----------------------------------------------------------------------------- */
/* Breadcrumb
----------------------------------*/
.breadcrumb {
	margin: 0;
	background-color: transparent;
	border-radius: 0;
	font-size: 12px;
	padding: 36px 0;
}
.breadcrumb li a:hover {
	text-decoration: underline;
}
.breadcrumb li i {
	padding-right: 8px;
}
.breadcrumb > li + li:before {
	padding: 0 7px 0 5px;
	font-family: "FontAwesome";
	content: "\f0da";
}
.breadcrumb > .active {
	color: #3f85c2;
}

/* Pager
----------------------------------*/
ul.pagination {
	margin: 0 0 80px;
	text-align: left;
}
ul.pagination li {
	padding: 0;
	margin: 0 15px 0 0;
	border-bottom: none;
	font-size: 12px;
	display: inline-block;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
ul.pagination li > a, 
.pagination > li:first-child > a, 
.pagination > li:last-child > a {
	padding: 10px 15px;
	border: 1px solid #b2bfca;
	line-height: 1;
	background-color: transparent;
	display: inline-block;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	color: #464646;
}
ul.pagination li > a:hover {
	background-color: transparent;
	color: #ffffff;
	background-color: #3472a8;
	border-color: #3472a8;
}
ul.pagination li.active a, 
.pagination > .active > a:hover, 
.pagination > .active > a:focus {
	color: #ffffff;
	background-color: #3472a8;
	border-color: #3472a8;
	line-height: 1;
}
ul.pagination li > a:focus {
	background: none;
}

/* Buttons
----------------------------------*/
.btn {
	padding: 10px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	min-width: 160px;
	text-align: center;
	border-radius: 0;
	text-transform: uppercase;
	margin: 10px 0;
	-webkit-transition: all 0.2s ease-in-out;
	   -moz-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		 -o-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
}
.btn.more {
	margin-bottom: -1px;
}
.btn.btn-lg {
	padding: 17px 12px;
	font-size: 18px;
	min-width: 210px;
}
.btn.btn-sm {
	padding: 8px;
	font-size: 14px;
	min-width: 140px;
}
.btn-gray {
	color: #fff;
	background-color: #b2bfca;
	border-color: #b2bfca;
}
.btn-gray:hover, 
.btn-gray:focus, 
.btn-gray:active, 
.btn-gray.active, 
.open .dropdown-toggle.btn-gray {
	color: #fff;
	background-color: #bdbdbd;
	border-color: #bdbdbd;
}

/* Button with colored bg (the color of default buttons is the color of current color scheme)
----------------------------------*/
.btn-default,
#preheader-contact-form .btn-default.disabled,
#contact-form .btn-default.disabled,
#footer-form .btn-default.disabled {
	background-color: #3f85c2;
	color: #fff;
	border-color: #3f85c2;
}
.btn-default:hover, 
.btn-default:focus, 
.btn-default:active, 
.btn-default.active, 
.open .dropdown-toggle.btn-default {
	color: #fff;
	background-color: #3472a8;
	border-color: #3472a8;
}
#preheader-contact-form .btn-default.disabled,
#contact-form .btn-default.disabled,
#footer-form .btn-default.disabled {
	background-color: #3f85c2;
	color: #fff;
	border-color: #3f85c2;
	opacity: 1;
	filter: alpha(opacity=100);
}
/* Button with transparent bg
----------------------------------*/
.btn-white {
	background-color: transparent;
	color: #262626;
	border: 1px solid #b2bfca;
}
.footer .btn-white, .subfooter .btn-white {
	color: inherit;
}
.footer .btn-white:hover, .subfooter .btn-white:hover {
	color: #fff;
}
.btn-white:hover, 
.btn-white:focus, 
.btn-white:active, 
.btn-white.active, 
.open .dropdown-toggle.btn-white {
	color: #fff;
	background-color: #3472a8;
	border-color: #3472a8;
}
.bg-color-gray .btn-white {
	color: #fff;
	border-color: #fff;
}
.bg-color-gray .btn-white:hover, 
.bg-color-gray .btn-white:focus, 
.bg-color-gray .btn-white:active, 
.bg-color-gray .btn-white.active, 
.bg-color-gray .open .bg-color-gray 
.dropdown-toggle.btn-white {
	color: #fff;
	background-color: #798D9E;
	border-color: #798D9E;
}
.bg-color-default .btn-white {
	color: #fff;
	border-color: #fff;
}
.bg-color-default .btn-white:hover, 
.bg-color-default .btn-white:focus, 
.bg-color-default .btn-white:active, 
.bg-color-default .btn-white.active, 
.bg-color-default .open .bg-color-default 
.dropdown-toggle.btn-white {
	color: #fff;
	background-color: #3472a8;
	border-color: #3472a8;
}
/* Button with icon
----------------------------------*/
.btn-symb {
	min-width: 45px !important;
	color: #fff;
}
.btn-symb:hover, 
.btn-symb:focus, 
.btn-symb:active, 
.btn-symb.active {
	color: #fff;
	opacity: 0.9;
	filter: alpha(opacity=90);
}
.btn-facebook {
	background-color: #3b5998;
}
.btn-twitter {
	background-color: #4099ff;
}
.btn-googleplus {
	background-color: #d34836;
}
.btn i {
	font-size: 92%;
}
.btn-symb i {
	font-size: 100%;
}

/* Forms
----------------------------------*/
form {
	margin: 20px 0;
}
.sidebar form {
	margin: 5px 0 20px 0;
}
.navbar form {
	width: 250px;
}
.form-control {
	border-radius: 0;
	box-shadow: none;
	background: transparent;
	height: 40px;
	padding-right: 30px;
	border-color: #b2bfca;
	color: #000;
	position: relative;
	-webkit-appearance: none;
}
.form-control:focus {
	border-color: #727272;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.preheader .form-control, .footer .form-control {
	color: #cecece;
	border: 2px solid #cecece;
}
.preheader .form-control:focus, .footer .form-control:focus {
	border-color: #ffffff;
}
.form-group {
	position: relative;
}
.form-group.name:after {
	position: absolute;
	font-family: "FontAwesome";
	content: "\f007";
	bottom: 10px;
	right: 15px;
	color: #b2bfca;
}
.form-group.email:after {
	position: absolute;
	font-family: "FontAwesome";
	content: "@";
	bottom: 10px;
	right: 15px;
	color: #b2bfca;
}
.form-group.subject:after {
	position: absolute;
	font-family: "FontAwesome";
	content: "\f040";
	bottom: 10px;
	right: 15px;
	color: #b2bfca;
}
.form-group.message:after {
	position: absolute;
	font-family: "FontAwesome";
	content: "\f003";
	bottom: 10px;
	right: 15px;
	color: #b2bfca;
}
.form-group.password:after {
	position: absolute;
	font-family: "FontAwesome";
	content: "\f023";
	bottom: 10px;
	right: 15px;
	color: #b2bfca;
}
.form-group.search:after {
	position: absolute;
	font-family: "FontAwesome";
	content: "\f002";
	bottom: 10px;
	right: 15px;
	color: #b2bfca;
}
.login-form {
	font-size: 14px;
}
.login-form .btn {
	min-width: 109px;
}
.login-form span {
	font-size: 14px;
	padding: 0 5px;
}
.login-form ul {
	padding-left: 17px;
	margin-bottom: 25px;
	margin-top: 5px;
}

/* Validation messages/forms
----------------------------------*/
.form-group.has-error:after {
	color: #a94442;
}
.form-group.has-error .form-control {
	border-color: #a94442;
	box-shadow: none;
	background-color: rgba(173, 69, 69, 0.05);
}
.form-group.has-error .form-control:focus {
	border-color: #843534;
	box-shadow: none;
	background-color: transparent;
}
.form-group.has-success:after {
	color: #3c763d;
}
.form-group.has-success .form-control {
	border-color: #3c763d;
	box-shadow: none;
}
.form-group.has-success .form-control:focus {
	border-color: #2b542c;
	box-shadow: none;
}
.form-group.has-error span {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	color: #a94442;
}
.preheader .form-group.has-error:after, 
.preheader .form-group.has-error .form-control, 
.preheader .form-group.has-error .form-control:focus, 
.preheader .form-group.has-error span, 
.footer .form-group.has-error:after, 
.footer .form-group.has-error .form-control, 
.footer .form-group.has-error .form-control:focus, 
.footer .form-group.has-error span {
	color: #fff;
}
.preheader .form-group.has-error .form-control, 
.preheader .form-group.has-error .form-control:focus, 
.footer .form-group.has-error .form-control, 
.footer .form-group.has-error .form-control:focus {
	border-color: #fff;
	background-color: transparent;
}
.preheader .form-group.has-success:after, 
.preheader .form-group.has-success .form-control, 
.preheader .form-group.has-success .form-control:focus, 
.footer .form-group.has-success:after, 
.footer .form-group.has-success .form-control, 
.footer .form-group.has-success .form-control:focus {
	color: #fff;
}
.preheader .form-group.has-success .form-control, 
.preheader .form-group.has-success .form-control:focus, 
.footer .form-group.has-success .form-control, 
.footer .form-group.has-success .form-control:focus {
	border-color: #fff;
}
.form-group label {
	font-weight: 400;
}
.preheader .form-group label, .preheader .form-group span {
	font-weight: 300;
}

/* Alerts
----------------------------------*/
.alert {
	margin: 20px 0;
	border-radius: 0;
}

/* Tabs
----------------------------------*/
.nav-tabs {
	border-bottom: 1px solid #3f85c2;
	margin: 10px 0 20px 0;
}
.nav-tabs > li {
	float: left;
	margin-bottom: 0;
	padding: 0;
	margin-left: 0;
	border-bottom: none;
}
.nav-tabs > li > a {
	margin-right: 5px;
	padding: 10px 20px;
	display: block;
	text-transform: uppercase;
	color: #464646;
	border-radius: 0;
	font-size: 14px;
	background-color: #fafafa;
	position: relative;
	border: 1px solid #f9f9f9;
	border-bottom: 1px solid #fff;
	-webkit-transition: none;
	   -moz-transition: none;
		-ms-transition: none;
		 -o-transition: none;
			transition: none;	
}
.nav-tabs li a i {
	padding-right: 10px;
	font-size: 14px;
}
.nav-tabs > li > a:hover {
	border-color: #3f85c2;
	background-color: #3f85c2;
	text-decoration: none;
	color: #fff;
}
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
	cursor: default;
	background-color: #3f85c2;
	border: 1px solid #3f85c2;
	color: #ffffff;
	border-bottom: 1px solid #3f85c2;
}

/* Nav pills
----------------------------------*/
.nav-pills > li > a {
	border-radius: 0;
	padding: 5px 15px;
	text-transform: none;
	font-size: inherit;
	border: 1px solid transparent;
	color: #428bca;
}
.nav-pills.nav-stacked > li + li {
	margin-left: 0;
}
.nav-pills > li.active > a, 
.nav-pills > li.active > a:hover, 
.nav-pills > li.active > a:focus, 
.nav-pills > li > a:hover, 
.nav-pills > li > a:focus {
	background-color: #3f85c2;
	border: 1px solid transparent;
	color: #fff;
}
.nav-pills.nav-stacked > li > a:after {
	font-family: "FontAwesome";
	content: "\f101";
	font-size: 11px;
	position: absolute;
	right: 10px;
	top: 8px;
	color: #3f85c2;
}
.nav-pills > li.active > a:after, 
.nav-pills > li.active > a:hover:after, 
.nav-pills > li.active > a:focus:after, 
.nav-pills > li > a:hover:after, 
.nav-pills > li > a:focus:after {
	color: #fff;
}
.nav-pills.white > li > a {
	color: #262626;
}
.nav-pills.white > li.active > a, 
.nav-pills.white > li.active > a:hover, 
.nav-pills.white > li.active > a:focus, 
.nav-pills.white > li > a:hover, 
.nav-pills.white > li > a:focus {
	background-color: transparent;
	border: 1px solid #b2bfca;
	color: #262626;
}
.tab-content {
	margin-top: 10px;
}
.footer-content .nav-pills > li > a {
	color: #ffffff;
	padding: 7px 5px 7px 5px;
}
.footer-content .nav-pills.nav-stacked > li > a:after {
	color: #fff;
}
.footer-content .nav-pills > li.active > a, 
.footer-content .nav-pills > li.active > a:hover, 
.footer-content .nav-pills > li.active > a:focus, 
.footer-content .nav-pills > li > a:hover, 
.footer-content .nav-pills > li > a:focus {
	background-color: transparent;
	border: 1px solid #b2bfca;
	color: #fff;
}

/* Collapse
----------------------------------*/
.panel-group .panel {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border: none;
}
.panel-default > .panel-heading {
	padding: 0;
	outline: none;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	width: 100%;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
	border: 1px solid #f0f0f0;
	border-top: none;
}
.panel-heading a {
	font-weight: 400;
	padding: 15px 30px 15px 15px;
	display: inline-block;
	width: 100%;
	background-color: #3f85c2;
	color: #ffffff;
	text-transform: uppercase;
	position: relative;
	text-decoration: none;
}
.panel-heading a.collapsed {
	color: #3f3f3f;
	background-color: #fafafa;
}
.panel-heading a:after {
	font-family: "FontAwesome";
	content: "\f147";
	position: absolute;
	right: 15px;
	font-size: 14px;
	font-weight: 300;
	top: 50%;
	line-height: 1;
	margin-top: -7px;
}
.panel-heading a.collapsed:after {
	content: "\f196";
}
.panel-heading a:hover {
	text-decoration: none;
	background-color: #3f85c2;
	color: #ffffff;
}
.panel-title a i {
	padding-right: 10px;
	font-size: 20px;
}

/* Progress bars
----------------------------------*/
.progress {
	height: 16px;
	background-color: transparent;
	border-radius: 0;
	box-shadow: none;
	color: #000;
	border-bottom: 1px solid #eeeeee;
	position: relative;
}
.progress-bar {
	margin: 10px 0 0;
	height: 4px;
}
.progress-bar-default {
	background-color: #3f85c2;
}
.progress span {
	top: -5px;
	position: absolute;
	right: 0px;
	z-index: 2;
	color: #000;
	font-weight: 700;
}

/* Images overlay
----------------------------------*/
.mask-wrapper {
	position: relative;
	display: block;
}
.image-wrapper {
	border: 1px solid #eaeaea;
	margin-bottom: 20px;
}
.mask {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	text-align: center;
	opacity: 0;
	filter: alpha(opacity=0);
	overflow: hidden;
	-webkit-transition: opacity linear 0.2s;
	   -moz-transition: opacity linear 0.2s;
		-ms-transition: opacity linear 0.2s;
		 -o-transition: opacity linear 0.2s;
			transition: opacity linear 0.2s;
}
.owl-item .mask-wrapper {
	overflow: hidden;
}
.owl-item .mask {
	bottom: -1px;
}
.mask .triangle {
	border-color: transparent #3f85c2 transparent transparent;
	font-size: 20px;
	position: absolute;
	right: 0;
	top: -50px;
	-webkit-transition: top linear 0.2s;
	   -moz-transition: top linear 0.2s;
		-ms-transition: top linear 0.2s;
		 -o-transition: top linear 0.2s;
			transition: top linear 0.2s;
}
.mask .triangle i {
	color: #ffffff;
}
.mask a {
	color: #ffffff;
}
.mask a:hover {
	color: #ffffff;
	text-decoration: underline;
}
.mask p {
	position: absolute;
	width: 100%;
	top: 50%;
	color: #fff;
	left: -30%;
	font-size: 16px;
	-webkit-transition: left linear 0.2s;
	   -moz-transition: left linear 0.2s;
		-ms-transition: left linear 0.2s;
		 -o-transition: left linear 0.2s;
			transition: left linear 0.2s;
}
.mask span {
	color: #fff;
	position: absolute;
	width: 100%;
	display: block;
	font-style: italic;
	font-size: 14px;
	top: 100%;
	-webkit-transition: top linear 0.2s;
	   -moz-transition: top linear 0.2s;
		-ms-transition: top linear 0.2s;
		 -o-transition: top linear 0.2s;
			transition: top linear 0.2s;
}
.mask .social-links {
	padding: 0;
	margin: 0;
	position: absolute;
	top: -50px;
	width: 100%;
	-webkit-transition: top linear 0.2s;
	   -moz-transition: top linear 0.2s;
		-ms-transition: top linear 0.2s;
		 -o-transition: top linear 0.2s;
			transition: top linear 0.2s;
}
.mask .social-links li {
	margin: 0 auto;
}
.mask .social-links li a {
	margin: 5px;
	width: 40px;
	height: 40px;
	border-color: #fff;
	color: #fff;
	font-size: 18px;
}
.mask .social-links li a:hover {
	color: #000;
	background-color: #fff;
	border-color: #fff;
	text-decoration: none;
}
.mask .social-links li a i {
	line-height: 38px;
}
.mask-wrapper:hover {
	border-color: transparent;
}
.mask-wrapper:hover .mask {
	opacity: 1;
	filter: alpha(opacity=100);
}
.mask-wrapper:hover .mask .triangle {
	top: 0px;
}
.mask-wrapper:hover .mask .social-links {
	top: 15px;
}
.mask-wrapper:hover .mask p {
	left: 0;
}
.mask-wrapper:hover .mask span {
	top: 86%;
}
.image-label {
	position: absolute;
	top: 50%;
	font-size: 28px;
	left: -74px;
	margin-top: -21px;
	color: #eaeaea;
	-webkit-transition: all 0.2s ease-in-out;
	   -moz-transition: all 0.2s ease-in-out;
		 -o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
}
.mask-wrapper:hover .image-label {
	opacity: 0;
	filter: alpha(opacity=0);
}
.two-sidebars .image-label {
	display: none;
}

/* Well
----------------------------------*/
.well {
	border-radius: 0;
}

/* Responsive iframe
----------------------------------*/
.responsive-iframe {
	position: relative;
	padding-bottom: 56.25%; /* 16:9*/
	padding-top: 25px;
	height: 0;
	margin-bottom: 20px;
}
.responsive-iframe iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
}

/* Audio wrapper
----------------------------------*/
.audio-wrapper {
	margin-bottom: 20px;
}
.audio-wrapper iframe {
	width: 100%;
	border: none;
}

/* Media queries
----------------------------------*/
/* Medium devices (desktops, 992px and up) */
@media (min-width:992px) {
	/*breadcrumb*/
	.breadcrumb-wrapper {
		float: right;
	}
}

/* Medium devices (desktops, tablets less than 991px) */
@media (max-width:991px) {
	/*breadcrumb*/
	.breadcrumb {
		padding: 5px 0 20px;
	}	
	.image-label {
		display: none;
	}
}

/* Extra small devices (phones, less than 480px) */
@media (max-width:480px) {
	/*tabs*/
	.nav-tabs {
		border-bottom: none !important;
		margin-bottom: 30px;
	}
	.nav-tabs > li {
		width: 100%;
		margin: 0 0 5px 0;
	}
	.nav-tabs > li > a {
		text-align: center;
		border-bottom: none !important;
	}
}

/* 7 Navigations
----------------------------------------------------------------------------- */
/* Main navigation
----------------------------------*/
.main-navigation .navbar {
	margin: 0
}
.main-navigation .nav > li > a {
	padding: 15px 30px;
	text-transform: uppercase;
	font-size: 18px;
}
.navbar-default .navbar-nav > li > a, 
.navbar-default .navbar-nav > li > a:focus {
	color: #434343;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus, 
.navbar-default .navbar-nav > .open > a:focus {
	background-color: #3f85c2;
	color: #fff;
}
.dropdown-menu {
	padding: 20px 0 0 0;
	margin: 0;
	border: none;
	border-radius: 0px;
	font-size: 16px;
	box-shadow: none;
	min-width: 190px;
	background-color: transparent;
}
.header-style-2 .dropdown-menu {
	padding: 25px 0 0 0;
}
.dropdown-menu > li > a {
	padding: 10px 20px;
	margin-bottom: 1px;
	color: #fff;
	background-color: #3f85c2;
}
.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus, 
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus {
	background-color: #3472a8;
	color: #ffffff;
}
.dropdown-menu .dropdown-menu {
	top: 0;
	left: 100%;
	padding-top: 0!important;
	padding-left: 1px!important;
}
.main-navigation .navbar-nav > li.dropdown > a {
	padding-right: 25px;
}
.main-navigation .navbar-collapse {
	max-height: 2000px;
}
.navbar-default .navbar-toggle {
	border-color: transparent;
}

/*Arrows for parent menu items*/
.dropdown>a:before {
	font-family: 'FontAwesome';
	content: "\f107";
	position: absolute;
	left: auto;
	top: 17px;
	right: 20px;
	line-height: 1;
	z-index: 1001;
	color: #262626;
	-webkit-transition: top 0.2s linear, -webkit-transform 0.2s linear;
		  -moz-transition: top 0.2s linear, -moz-transform 0.2s linear;
			  -o-transition: top 0.2s linear, -o-transform 0.2s linear;
			-ms-transition: top 0.2s linear, -ms-transform 0.2s linear;
					transition: top 0.2s linear, transform 0.2s linear;
}
.navbar-default .navbar-nav > .active.dropdown > a:before, 
.navbar-default .navbar-nav > .dropdown > a:hover:before {
	color: #ffffff;
}
.dropdown .dropdown>a:before {
	content: "\f105";
	right: 10px;
	top: 14px;
	margin-left: 0;
	visibility: visible;
	color: #ffffff;
}
.dropdown .dropdown:hover>a:before {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}
.navbar-symbols.nav > li > a {
	padding: 15px 30px;
}
.navbar-symbols.nav > li > a i {
	width: 25px;
}
.navbar-default .navbar-symbols > .open > a, 
.navbar-default .navbar-symbols > .open > a:hover, 
.navbar-default .navbar-symbols > li > a:hover, 
.navbar-default .navbar-symbols > .active > a:hover, 
.navbar-default .navbar-symbols > .active > a:focus, 
.navbar-default .navbar-symbols > .open > a:focus {
	background-color: transparent;
	color: #3f85c2;
}
.navbar-symbols .dropdown>a:before {
	content: "";
}
.navbar-symbols .dropdown.open>a>i:before {
	content: "\f00d";
}
.navbar-symbols > li > .dropdown-menu {
	padding: 0px 20px 0px;
	margin-top: 19px;
	border-top: none;
	background-color: #ffffff;
}
.header-style-2 .navbar-symbols > li > .dropdown-menu {
	margin-top: 25px;
}
.navbar-symbols .animated {
	-webkit-animation-duration: 0.3s;
			animation-duration: 0.3s;
}

/* Subfooter navigation
----------------------------------*/
.subfooter .navbar {
	margin: 0;
	min-height: 0;
	background: transparent;
	border-color: transparent;
}
.subfooter .navbar-default .nav > li > a {
	padding: 10px 10px;
	text-transform: none;
	font-weight: 300;
	color: #cecece;
	line-height: 1;
}
.subfooter .navbar-default .nav li:last-child a {
	border: none;
}
.subfooter .navbar-default .nav > li > a:hover, 
.subfooter .navbar-default .nav > .active > a:hover, 
.subfooter .navbar-default .nav > .active > a:focus {
	background-color: transparent;
	color: #cecece;
	text-decoration: underline;
}

/* Fixed navigation
----------------------------------*/
.fixed-header-on .main-navigation.fixed {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1006;
	opacity: 0;
	filter: alpha(opacity=0);
	border-bottom: 1px solid #E7E7E7;
	padding: 10px 0;
	background-color: rgba(255, 255, 255, 0.95);
	box-shadow: none;
}
.fixed-header-on .main-navigation.fixed.header-style-2 {
	padding: 5px 0;
}
.fixed-header-on .header-style-2 .logo { 
	-webkit-transform: scale(0.70); 
	-moz-transform: scale(0.70); 
	-ms-transform: scale(0.70); 
	-o-transform: scale(0.70);
	transform: scale(0.70); 
	margin: 0; 
	display: none; 
}
.fixed-header-on .main-navigation.fixed .navbar-symbols > li > .dropdown-menu {
	box-shadow: 0px 1px 1px #CECECE;
	margin-top: 10px;
	background-color: rgba(255, 255, 255, 0.95);
}
.fixed-header-on .main-navigation.header-style-2.fixed .navbar-symbols > li > .dropdown-menu {
	margin-top: 14px;
	padding-top: 0;
}
.fixed-header-on .main-navigation.fixed.animated {
	-webkit-animation-duration: 0.4s;
	animation-duration: 0.4s;
}
.fixed-header-on .dropdown-menu {
	padding-top: 11px;
}
.fixed-header-on .header-style-2 .dropdown-menu {
	padding-top: 14px;
}
.fixed-header-on .dropdown-menu .dropdown-menu {
	padding-top: 0;
}

/* Media queries
----------------------------------*/
/* Small devices (tablets, smartphones) */
@media (min-width:768px) and (max-width: 991px) {
	/*header style 2*/
	.header-style-2 .dropdown-menu {
		padding: 15px 0 0 0;
	}
	.header-style-2.main-navigation .navbar { 
		margin: 5px 0; 
	}
	.header-style-2 .navbar-symbols > li > .dropdown-menu {
		margin-top: 15px;
		padding-top: 0;
	}
	.fixed-header-on .header-style-2 .dropdown-menu { 
		padding-top: 11px; 
	}
	.fixed-header-on .main-navigation.header-style-2.fixed .navbar-symbols > li > .dropdown-menu {
		margin-top: 10px;
		padding-top: 0;
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width:768px) {
	.navbar-nav.navbar-right:last-child {
		margin-right: 0px;
	}
	.navbar-default {
		background-color: transparent;
		border: none;
		border-radius: 0;
		min-height: 0;
	}
	.navbar-collapse {
		padding-right: 0px;
		padding-left: 0px;
	}
	.main-navigation .navbar-nav > li > a {
		padding: 5px 10px;
		font-size: 16px;
		margin-right: 5px;
	}
	.not-front .navbar-symbols > li > .dropdown-menu {
		box-shadow: 0px 4px 3px #ebebeb;
	}	
	.main-navigation .navbar-symbols.nav > li > a {
		padding: 5px 20px;
		margin: 0;
		text-align: center;
	}
	.main-navigation .navbar-symbols.nav > li:last-child > a {
		padding-right: 0 !important;
	}

	/*Arrows for parent menu items*/
	.dropdown>a:before {
		top: 7px;
		left: auto;
		right: 9px;
		color: #e4e4e4;
	}
	.dropdown:hover>a:before {
		color: #ffffff;
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
		-webkit-transform: rotate(180deg);
		   -moz-transform: rotate(180deg);
	    	-ms-transform: rotate(180deg);
			 -o-transform: rotate(180deg);
				transform: rotate(180deg);
	}
	/*Subfooter nav*/
	.subfooter .navbar-nav {
		float: none;
		margin: 15px 0;
		text-align: center;
	}
	.subfooter .navbar-nav > li {
		float: none;
		padding: 5px 0;
	}
	.subfooter .navbar-default .nav > li > a {
		padding: 0px 10px;
	}	
}

/* Medium desktop devices and tablets */
@media (min-width:992px) and (max-width: 1199px) {
	.main-navigation.header-style-2 .navbar-nav > li.dropdown > a {
		padding-right: 23px;
	}
	.main-navigation.header-style-2 .navbar-nav > li > a {
		padding-left: 18px;
		margin: 0;
	}
	.main-navigation.header-style-2 .navbar-symbols.nav > li > a {
		padding: 5px 10px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width:992px) {
	.fixed-header-on .header-style-2 .logo { 
		display: block; 
	}
	.fixed-header-on .header-style-2.main-navigation.fixed .navbar {
		margin-top: 10px;
	}
	/*Main menu*/
	.main-navigation .navbar-nav > li > a {
		padding-right: 20px;
		padding-left: 20px;
	}
	.header-style-2.main-navigation .navbar {
		margin-top: 14px;
	}
	/*Subfooter nav*/
	.subfooter {
		text-align: left;
	}
	.subfooter .navbar-nav {
		float: right;
		margin: 0;
		text-align: left;
	}
	.subfooter .navbar-nav > li {
		float: left;
		padding: 0;
		margin-top: 4px;
	}
	.subfooter .navbar-default .nav > li > a {
		border-right: 1px solid #cecece;
	}	
}

/* Small devices (tablets, phones less than 767px) */
@media (max-width:767px) {
	/*Main menu*/
	.navbar-default {
		background-color: #fafafa;
		border-color: #fafafa;
	}
	.navbar-default .navbar-collapse {
		border-color: #dbdbdb;
	}
	.main-navigation .navbar-default .navbar-toggle:hover, 
	.main-navigation .navbar-default .navbar-toggle:focus {
		background-color: transparent;
		border-color: #dbdbdb;
	}
	.main-navigation .navbar {
		margin: 0 -15px;
	}
	.navbar-nav .open .dropdown-menu {
		background-color: rgba(0, 0, 0, 0.02);
		padding: 0px 20px;
	}
	.main-navigation .navbar-symbols .open .dropdown-menu {
		padding: 10px 20px;
	}	
	.navbar-nav .open .dropdown-menu > li > a {
		padding: 15px 0 15px 30px;
		background-color: transparent;
		border-bottom: none;
	}
	.navbar-nav .open .dropdown-menu .dropdown-menu {
		padding: 0px 20px 0px 40px;
		margin: 0 -20px 0 -20px;
	}
	.navbar-nav .open .dropdown-menu .dropdown-menu .dropdown-menu {
		padding: 0px 20px 0px 60px;
		margin: 0 -20px 0 -40px;
	}
	.navbar-nav .open .dropdown-menu .dropdown-menu .dropdown-menu .dropdown-menu {
		padding: 0px 20px 0px 80px;
		margin: 0 -20px 0 -60px;
	}
	
	/* Main menu arrows */
	.dropdown>a:before {
		content: "\f105";
	}
	.dropdown.open>a:before {
		content: "\f107";
		color: #ffffff;
	}
	.dropdown .dropdown>a:before {
		content: "\f105";
		left: auto;
		right: 0px;
		top: 14px;
		margin-left: 0;
		visibility: visible;
		color: #262626;
	}
	.dropdown .dropdown.open>a:before {
		content: "\f107";
	}

	/*subfooter nav*/
	.subfooter .navbar-default .navbar-toggle:hover, 
	.subfooter .navbar-default .navbar-toggle:focus {
		background-color: transparent;
		border-color: #888;
	}
	.subfooter .navbar-default .navbar-collapse {
		border-color: #000000;
	}	
}

/* 8 Main Slideshow
----------------------------------------------------------------------------- */
.flexslider {
	margin: 0;
	background: transparent;
	border: none;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
		 -o-border-radius: 0;
			border-radius: 0;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
		 -o-box-shadow: none;
			box-shadow: none;
}
.flexslider .slides > li {
	position: relative;
}
.slideshow.fullwidth .flexslider .slides > li {
	width: 100%;
	background-repeat: no-repeat;
	background-position: top center;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;
}
.loading {
	height: 100%;
	background: url("../images/preloader.gif") 50% 50% no-repeat;
}
/* Slider caption
----------------------------------*/
.flexslider .caption-wrapper {
	position: relative;
	width: 100%;
}
.flexslider .caption {
	color: #fff;
	width: 50%;
	background-color: rgba(0, 0, 0, 0.45);
	padding: 20px 20px 60px 20px;
	position: absolute;
	bottom: 80px;
}
.flexslider .caption h1 {
	font-weight: 900;
	color: #fff;
	margin: 0 0 15px 0;
}
.flexslider .btn {
	margin: 10px 0 0 0;
	position: absolute;
	bottom: 0;
	right: 0;
	min-width: 190px;
}
.boxed-slideshow .flexslider .caption {
	width: 100%;
	padding: 20px 20px 0px 20px;
	bottom: 0;
	text-align: center;
}
.boxed-slideshow .flexslider .caption h1 {
	font-size: 28px;
}
.boxed-slideshow .flexslider .caption p {
	font-size: 18px;
}
.flexslider .animated {
	-webkit-animation-duration: 0.6s;
			animation-duration: 0.6s;
}
/* Control nav
----------------------------------*/
.slideshow .flex-control-nav {
	bottom: 20px;
	z-index: 2;
}
.flex-control-nav li {
	margin: 0 5px;
}
.flex-control-paging li a {
	width: 15px;
	height: 15px;
	background: transparent;
	border: 1px solid #fff;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
		 -o-border-radius: 0;
			border-radius: 0;
	-webkit-box-shadow: none;
       -moz-box-shadow: none;
		 -o-box-shadow: none;
			box-shadow: none;
}
.flex-control-paging li a:hover, 
.flex-control-paging li a.flex-active {
	background: #fff;
}
.slideshow.boxed-slideshow .flex-control-nav {
	bottom: -40px;
}
.slideshow.boxed-slideshow .flex-control-paging li a {
	border: 1px solid #262626;
}
.slideshow.boxed-slideshow .flex-control-paging li a:hover, 
.slideshow.boxed-slideshow .flex-control-paging li a.flex-active {
	background: #262626;
}

/* Direction nav
----------------------------------*/
.flex-direction-nav a {
	width: 60px;
	height: 60px;
	margin: -30px 0 0;
	color: #ffffff;
	text-shadow: none;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
	text-decoration: none;
}
.flex-direction-nav .flex-prev {
	left: 50px;
}
.flex-direction-nav .flex-next {
	right: 50px;
	text-align: center;
}
.flex-direction-nav a:before {
	font-family: 'FontAwesome';
	font-size: 40px;
	content: '\f104';
}
.flex-direction-nav a.flex-next:before {
	content: '\f105';
}

/* Media queries
----------------------------------*/
/* Medium devices (tablets landscape to portrait) */
@media (min-width:768px) and (max-width:991px) {
	/* Slider caption */
	.flexslider .caption {
		padding: 20px 20px 50px 20px;
	}
	.flexslider .btn {
		min-width: 130px;
		font-size: 16px;
		padding: 14px;
	}
	.boxed-slideshow .flexslider .caption h1 {
		font-size: 24px;
	}
	.boxed-slideshow .flexslider .caption p {
		font-size: 16px;
	}
}

/* Medium devices (tablets, phones less than 860px) */
@media (max-width:860px) {
	/* Direction Nav */
	.flex-direction-nav .flex-prev {
		opacity: 0;
		filter: alpha(opacity=0);
		left: 30px;
	}
	.flex-direction-nav .flex-next {
		opacity: 0;
		filter: alpha(opacity=0);
		right: 30px;
	}
}

/* Small devices (tablets, phones less than 767px) */
@media (max-width:767px) {
	/* Slider caption */
	.flexslider .caption {
		bottom: 0;
		width: 100%;
		padding: 17px 190px 18px 20px;
	}
	.boxed-slideshow .flexslider .caption {
		padding: 20px;
	}
	.flexslider .caption p {
		display: none;
	}
	.flexslider .caption h1 {
		margin-bottom: 0;
		font-size: 24px !important;
	}
	/* control nav */
	.slideshow .flex-control-nav {
		bottom: -40px;
	}
	.slideshow .flex-control-paging li a {
		border: 1px solid #262626;
	}
	.slideshow .flex-control-paging li a:hover, 
	.slideshow .flex-control-paging li a.flex-active {
		background: #262626;
	}	
}

/* Extra small devices (phones less than 480px) */
@media (max-width:480px) {
	/* Slider caption */
	.flexslider .caption-wrapper {
		margin-left: 15px;
	}
	.flexslider .caption {
		background-color: transparent;
	}
	.flexslider .caption h1 {
		display: none;
	}
	.flexslider .btn {
		padding: 10px 10px;
		font-size: 15px;
		min-width: 140px;
	}
	/* Direction Nav */
	.flex-direction-nav {
		display: none;
	}	
}

/* 9 Blocks/Widgets
----------------------------------------------------------------------------- */
/* Logo
----------------------------------*/
.logo {
	font-size: 48px;
	line-height: 1.15;
	font-weight: 700;
	letter-spacing: 0.06em;
	display: inline-block;
	margin: 0 auto;
}
.header-style-2 .logo { 
	margin-top: 5px;
}
.logo-footer {
	margin: 25px 0 20px;
}
.logo img {
	-webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
	    -ms-transition: all 0.2s linear;
	     -o-transition: all 0.2s linear;
			transition: all 0.2s linear;
}
.logo i {
	padding-right: 10px;
}
.logo a {
	color: #434343;
}
.logo span {
	color: #b2bfca;
}
.logo a:hover, .logo img:hover {
	opacity: 0.85;
	filter: alpha(opacity=85);
}
/* Info block
----------------------------------*/
.info {
	list-style: none;
	padding: 0;
}
.info li {
	padding-bottom: 10px;
}
.info i {
	padding-right: 15px;
}
.header-top .info {
	padding: 6px 0;
	margin: 0;
}
.header-top .info li {
	display: inline-block; 
	font-size: 13px; 
	padding-right: 20px;
	padding-bottom: 5px;
}
.header-top .info li i { 
	font-size: 16px;
	padding-right: 5px;
	color: #3f85c2;
}
/* Social icons block
----------------------------------*/
.social-links {
	list-style: none;
	font-size: 0;
	padding: 0;
	margin: 40px 0 0 0;
}
.social-links li {
	display: inline-block;
}
.social-links li a {
	color: #cecece;
	width: 45px;
	height: 45px;
	background-color: #fafafa;
	border: 1px solid #cecece;
	display: block;
	text-align: center;
	font-size: 20px;
	margin: 0 7px 7px 0;
}
.footer .social-links li a, .subfooter .social-links li a {
	background-color: transparent;
}
.social-links li a i {
	line-height: 44px;
}
.social-links li a:hover {
	color: #3f85c2;
	border-color: #3f85c2;
	background-color: transparent;
}
.social-links.large li a {
	font-size: 32px;
	width: 65px;
	height: 65px;
	margin: 0 10px 10px 0;
}
.social-links.large li a i {
	line-height: 65px;
}
.footer .social-links li a:hover {
	color: #ffffff;
}
.header-top .social-links { 
	margin: 0; 
}
.header-top .social-links li a {
	width: 35px;
	height: 35px;
}
.header-top .social-links li a i {
	line-height: 35px;
}

/* Brands block
----------------------------------*/
.brands {
	font-size: 0;
}
.brand {
	border-right: 1px solid #eeeeee;
	border: 1px solid #eeeeee;
	font-size: 16px;
	margin: 5px;
}
.brand a {
	display: block;
}
.brand a:hover {
	opacity: 0.80;
	filter: alpha(opacity=80);
}
.brands .owl-controls {
	text-align: center;
}

/* Latest tweets block
----------------------------------*/
ul.tweets {
	list-style: none;
	padding: 0;
}
ul.tweets li {
	margin-bottom: 20px;
	position: relative;
	padding-left: 35px;
}
ul.tweets li i {
	position: absolute;
	top: 4px;
	left: 0;
	width: 25px;
	height: 25px;
	text-align: center;
	color: #b2bfca;
}
ul.tweets li p {
	margin-bottom: 5px;
}
ul.tweets li span {
	font-size: 12px;
	color: #b2bfca;
}

/* Testimonials
----------------------------------*/
.testimonials {
	text-align: center;
	padding: 100px 0;
	background: url("../images/testimonials-parallax-bg.jpg") 50% 0px no-repeat;
}
.testimonial {
	color: #fff;
}
.testimonial blockquote {
	margin-left: auto;
	padding: 10px 90px;
}
.testimonial blockquote:after {
	left: 0;
}
.testimonial img {
	margin: 0 auto 40px auto;
	width: 70px !important;
	height: 70px;
}
.testimonial .author {
	font-size: 22px;
}

/* Testimonial */
ul.testimonials {
	list-style: none;
	padding: 0;
	background: no-repeat;
	text-align: left;
}
ul.testimonials li {
	margin-bottom: 20px;
	position: relative;
	padding-left: 35px;
	font-style: italic;
}
ul.testimonials li i {
	position: absolute;
	top: 4px;
	left: 0;
	width: 25px;
	height: 25px;
	text-align: center;
	color: #b2bfca;
}
ul.testimonials li p {
	margin-bottom: 5px;
}
ul.testimonials li span {
	font-style: normal;
	font-size: 12px;
}
ul.testimonials li .company {
	display: block;
	font-style: normal;
	font-size: 12px;
	padding-left: 5px;
}

/* Sidebar/footer gallery block
----------------------------------*/
.gallery.row {
	margin-left: -5px;
	margin-right: -5px;
}
.gallery-item {
	padding-right: 5px;
	padding-left: 5px;
	margin-bottom: 10px;
}

/* Tags cloud block
----------------------------------*/
.tags-cloud {
	font-size: 0;
}
.tag {
	display: inline-block;
	margin: 0 3px 3px 0;
}
.tag a {
	padding: 5px 10px;
	border: 1px solid #b2bfca;
	color: #464646;
	display: block;
	font-size: 12px;
}
.tag a:hover {
	color: #ffffff;
	background-color: #3472a8;
	border-color: #3472a8;
	text-decoration: none;
}

/* Icon-boxes
----------------------------------*/
.icon-box {
	text-align: center;
	padding: 40px 0 20px;
}
.icon-box i {
	font-size: 96px;
	color: #3f85c2;
	width: 170px;
	height: 170px;
	border: 5px solid #3f85c2;
	text-align: center;
	line-height: 165px;
	-webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
	    -ms-transition: all 0.2s linear;
	     -o-transition: all 0.2s linear;
			transition: all 0.2s linear;
}
.icon-box:hover i {
	color: #fff;
	background-color: #3472a8;
	border-color: #3472a8;
}
.icon-box-2 {
	padding: 50px 0 0;
}
.icon-box-2 i {
	font-size: 36px;
	color: #3f85c2;
	width: 70px;
	height: 70px;
	border: 5px solid #3f85c2;
	text-align: center;
	line-height: 65px;
	float: left;
	margin: 0 30px 0 0;
}
.icon-box-2 * {
	margin-top: 0;
	-webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
	    -ms-transition: all 0.2s linear;
	     -o-transition: all 0.2s linear;
			transition: all 0.2s linear;
}
.icon-box-2:hover i {
	color: #fff;
	background-color: #3472a8;
	border-color: #3472a8;
}
.icon-box-2:hover h3 {
	color: #3472a8;
}
.icon-box-3 {
	padding: 30px 0 10px;
}
.icon-box-3 i {
	font-size: 24px;
	color: #3f85c2;
	width: 55px;
	height: 55px;
	border: 1px solid #3f85c2;
	text-align: center;
	line-height: 56px;
}
.icon-box-3 p {
	margin-bottom: 10px;
}
.icon-box-3.icon-right {
	text-align: right;
}
.icon-box-3.icon-right i {
	float: right;
	margin: 0 10px 0 30px;
}
.icon-box-3.icon-right .text {
	margin-right: 100px;
}
.icon-box-3.icon-left {
	text-align: left;
}
.icon-box-3.icon-left i {
	float: left;
	margin: 0 30px 0 10px;
}
.icon-box-3.icon-left .text {
	margin-left: 100px;
}
.icon-box-3 * {
	margin-top: 0;
	-webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
	    -ms-transition: all 0.2s linear;
	     -o-transition: all 0.2s linear;
			transition: all 0.2s linear;
}
.icon-box-3:hover i {
	color: #fff;
	background-color: #3472a8;
	border-color: #3472a8;
}
.icon-box-3:hover h3 {
	color: #3472a8;
}

/* Image boxes
----------------------------------*/
.front .img-boxes {
	margin: 60px 0 0 0;
}
.img-boxes {
	font-size: 0;
	margin-bottom: 40px;
}
.img-box {
	position: relative;
	margin-bottom: 40px;
	font-size: 15px;
}
.one-third .img-box, .one-half .img-box, .one-fourth .img-box {
	display: inline-block;
	width: 50%;
	margin-bottom: 0;
}
.img-box .social-links {
	padding: 0;
	margin: 0;
	width: 100%;
}
.img-box .social-links li {
	margin: 0 auto;
}
.img-box .social-links li a {
	margin: 5px;
	width: 35px;
	height: 35px;
	font-size: 18px;
	background-color: transparent;
}
.img-box .social-links li a i {
	line-height: 35px;
}
.image-caption {
	position: absolute;
	bottom: 10px;
	background: rgba(0, 0, 0, 0.6);
	padding: 5px;
	width: 100%;
}
.image-caption .social-links li a {
	color: #ffffff;
	border-color: #ffffff;
}
.image-caption .social-links li a:hover {
	background-color: #ffffff;
	color: #000;
	border-color: #ffffff;
}

/* Stats
----------------------------------*/
.stats {
	font-size: 0;
	margin: 40px 0;
}
.stat-box {
	display: inline-block;
	font-size: 16px;
	width: 50%;
	text-align: center;
	color: #434343;
	border-top: 1px solid #3f85c2;
	border-right: 1px solid #3f85c2;
	padding: 30px 0;
}
.stat-box i {
	font-size: 48px;
}
.stat-box h5 {
	color: #434343;
	margin: 5px 0 10px;
}
.stat-box span {
	font-size: 30px;
	font-weight: 700;
}

/* Google maps
----------------------------------*/
#map-canvas {
	height: 400px;
}
#map-canvas img {
	max-width: inherit;
}

/* Pricing tables
----------------------------------*/
.plan {
	text-align: center;
	border: 1px solid #c5c5c5;
	border-top: none;
	margin-bottom: 40px;
}
.plan .header {
	background: #3f85c2;
	border: 1px solid #444444;
	padding: 10px 0;
	margin: 0 -1px;
	-webkit-box-shadow: 0px 0px 60px #3472a8 inset;
	   -moz-box-shadow: 0px 0px 60px #3472a8 inset;
			box-shadow: 0px 0px 60px #3472a8 inset;
}
.plan .header h3 {
	display: inline-block;
	font-size: 22px;
	color: white;
	margin: 0;
	line-height: 28px;
	font-weight: normal;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	text-shadow: 0px 1px 1px #494949;
}
.plan .header .price {
	display: inline-block;
	font-size: 16px;
	padding: 10px 0 0;
	color: white;
}
.plan .header .price span {
	text-transform: uppercase;
}
.plan ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 14px;
	-webkit-box-shadow: 0px 0px 32px 0px #cacaca inset;
	-moz-box-shadow: 0px 0px 32px 0px #cacaca inset;
	box-shadow: 0px 0px 32px 0px #cacaca inset;
	background: #fdfdfd;
	list-style: none;
}
.plan ul li {
	padding: 12px 0 12px 0px;
	border: 1px solid #ECECEC;
	border-top: none;
	font-size: 13px;
	line-height: 18px;
	text-shadow: 1px 1px 0 #FFF;
}
.plan ul li:first-child {
	border-top: none;
}
.plan ul li:nth-child(even) {
	background: #ffffff;
	border-right: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
	-webkit-box-shadow: 0px 0px 40px #e4e4e4 inset;
	-moz-box-shadow: 0px 0px 40px #e4e4e4 inset;
	box-shadow: 0px 0px 40px #e4e4e4 inset;
}
.plan ul li a.pt-popover {
	color: #000;
	border-bottom: 1px dashed #000;
	position: relative;
}
.plan ul li a.pt-popover:hover {
	text-decoration: none;
}
.plan ul li a.pt-popover:after {
	position: absolute;
	top: 0px;
	left: -15px;
	font-family: "FontAwesome";
	content: "\f059";
	color: #DDDDDD;
	font-size: 12px;
}
.plan .popover {
	width: 250px;
	font-size: 13px;
	text-align: center;
	border: none;
}
.plan .popover-title {
	background-color: #3f85c2;
	color: #ffffff;
	text-shadow: none;
	font-size: 13px;
}
.plan .popover-content {
	font-size: 12px;
}
.plan .btn {
	text-shadow: none;
}

/* Parallax effect
----------------------------------*/
.no-touch .parallax {
	background-position: 50% 0;
	background-attachment: fixed !important;
	background-repeat: no-repeat;
}

/* scroll to top
----------------------------------*/
.scrollToTop {
	color: #fff;
	position: fixed;
	bottom: 51px;
	right: 29px;
	width: 50px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	background-color: #22272b;
	z-index: 1005;
	display: none;
}
.scrollToTop i {
	line-height: 50px;
	font-size: 28px;
}

/* isotope item
----------------------------------*/
.isotope-item {
	max-width: 100%;
}

/* Media queries
----------------------------------*/
/* Small devices (tablets, 768px and up) */
@media (min-width:768px) {
	/*pricing tables*/
	.plan.best-value {
		margin: -30px 0 60px 0;
	}
	.plan.best-value ul li {
		padding: 15px 0;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width:992px) {
	/* image box */
	.one-fourth .img-box {
		width: 25%;
	}
	.one-third .img-box {
		width: 33.33333333333%;
	}
	.one-half .img-box {
		width: 50%;
	}
}
/* Small devices (tablets, phones less than 767px) */
@media (max-width: 991px) {
	/*logo*/
	.header-style-2 .logo {
		display: block;
	}
	.header-style-2 .logo img {
		margin: 5px auto 10px;
	}
	/*info*/
	.header-top .info li {
		padding: 0 10px 5px 10px;
	}
	/*social links*/
	.header-top .social-links {
		text-align: center;
		margin-bottom: 5px;
	}
	.header-top .social-links li a {	
		margin: 0px 3px 6px;
	}
}

/* Small devices (tablets, phones less than 767px) */
@media (max-width:767px) {
	/*scrollToTop*/	
	.scrollToTop {
		bottom: 5px;
		right: 5px;
		width: 40px;
		height: 40px;
		background-color: rgba(0, 0, 0, 0.4);
	}
	.scrollToTop i {
		line-height: 40px;
		font-size: 20px;
	}
}

/* Small devices (portrait tablets to landscape phones) */
@media (min-width:481px) and (max-width:767px) {
	/*pricing tables*/
	.plan {
		max-width: 70%;
		margin: 0 auto 40px;
	}
}

/* Extra Small devices (phones less than 480px) */
@media (max-width:480px) {
	/*testimonial*/
	.testimonial blockquote {
		padding: 10px 45px;
	}
	.testimonial blockquote:after {
		left: -20px;
	}
	/* image box */
	.img-box {
		width: 100% !important;
	}
}

/* 10 Owl carousel
----------------------------------------------------------------------------- */
.owl-controls {
	width: 100%;
	margin-top: 5px;
}
.owl-controls .owl-page {
	display: inline-block;
	zoom: 1;
}
.owl-controls .owl-page span {
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 3px;
	background-color: transparent;
	border: 1px solid #262626;
	color: #262626;
}
.owl-controls .owl-page.active span, .owl-controls.clickable .owl-page:hover span {
	background-color: #262626;
	color: #FFF;
}
.owl-controls .owl-page span.owl-numbers {
	height: auto;
	width: auto;
	padding: 2px 10px;
	font-size: 12px;
	margin: 5px 3px 5px 0;
}
.owl-controls .owl-buttons div {
	display: inline-block;
	zoom: 1;
	padding: 3px 10px;
	font-size: 12px;
	position: absolute;
	top: 50%;
	width: 40px;
	height: 40px;
	margin-top: -40px;
	background-color: rgba(0, 0, 0, 0.5);
	-webkit-transition: all 0.2s ease-in-out;
	   -moz-transition: all 0.2s ease-in-out;
	     -o-transition: all 0.2s ease-in-out;
	    -ms-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
}
.owl-controls .owl-buttons div:hover {
	background-color: rgba(0, 0, 0, 1);
}
.owl-prev {
	left: 0;
}
.owl-next {
	left: auto;
	right: 0;
}
.owl-controls .owl-buttons div:after {
	font-family: "FontAwesome";
	color: #fff;
	font-size: 26px;
	line-height: 34px;
}
.owl-prev:after {
	content: "\f104";
}
.owl-next:after {
	content: "\f105";
}
.no-touch .owl-controls.clickable .owl-buttons div:hover {
	filter: Alpha(Opacity=100);
	opacity: 1;
	text-decoration: none;
}
.slideshow .owl-controls {
	text-align: center;
}
.owl-carousel.slideshow, .owl-carousel.gallery {
	margin-bottom: 20px;
}
.owl-item .caption {
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	bottom: 0px;
	padding: 15px;
	width: 100%;
	color: #fff;
	font-size: 18px;
	text-align: center;
	text-shadow: 0 1px 1px #000000;
}
.carousel {
	position: relative;
	margin-top: 60px;
}
.carousel .owl-controls {
	position: absolute;
	top: -30px;
	text-align: center;
	margin-top: 0;
}
/* Media queries
----------------------------------*/
/* Extra Small devices (phones less than 480px) */
@media (max-width:480px) {
	.owl-controls .owl-buttons {
		display: none;
	}
}