{% load static %}
{% get_static_prefix as STATIC %}
{% include "main_site/base.html" %}

	<body>

	{% include "main_site/topheader.html" %}

	<div class="container defpy-body boxed margin-1em">
 
    <div class = "row">
      <div class="col-md-6 col-sm-12 ">

        <div class = "our-comptence col-md-12">


        <div class="col-md-4">
             <img src="{{ STATIC }}images/njs.png" width = "100%" height = "100%" class = "img-circle">
                <span class = "text-center">Not Just Syntaxes&nbsp;</span>
                <p class="text-muted"><i>Language is culture not just syntaxes.</i></p><br>
                <p class = "font-15">You learn a new culture and new ways of thinking.</p>
                
        </div>
        <div class="col-md-4">
             <img src="{{ STATIC }}images/promising.png" width = "100%" height = "100%" class = "img-circle">
                <span class = "text-center">Promising Trainers</span>
                <p class="text-muted"><i>Doamin Experties, and Promising.</i></p><br>
                <p class = "font-15">Learn from  well-versed &amp; Expert Instructors</p>
                
        </div>
          <div class="col-md-4">
               <img src="{{ STATIC }}images/trainingondemand.png" width = "100%" height = "100%" class = "img-circle">
                  <span class = "text-center">Training On-Demand</span>
                  <p class="text-muted"><i>Learn Where you want, When you want.</i></p>
                  <p class = "font-15">On-demand training is a convenient and affordable way of training.</p>
                  
          </div>

        </div>

        <div class = "about-us col-md-12">
          <p class = "tag" >&nbsp;About Us&nbsp;</p>
        <p>DefPy , believes in building strong Technical relationships. We make <b>Facile, Easy & Fast Development </b> with our unique and specious technology training. DefPy <b>Provides Comprehensive Training</b> in Various Technologies like <b>Python, Linux, Big Data & Hadoop, Cloud Computing </b> related technology.</p>
        <p>We are the only company, which have a <b>Manifold Series of Python Training (11 Modules ) </b> as well as <b>Specific and Unique Python Workshop Series</b>. We have High qualified, well-experienced corporate trainers and energetic youthful technical team.    </p>
        <br>
        <hr style = "border-color:grey;">
        <center><p class = "tag2" >&nbsp;Narrate DefPy&nbsp;</p></center>
        <p>
        DefPy is abbreviation of <b> Develop Easy & Fast Python </b>, This is the core philoshophy of Python Language. We have selected our scope in Linux, Big Data & Hadoop  and Cloud Computing , Python is very essential for all these technologies. Def is also a keyword in Python Language that we use to define a function, Here we used DefPy i.e. we are defining Python.</p>
        </div>

        <div class = "our-vision col-md-12">
          <p class = "tag" >&nbsp;Our Vision&nbsp;</p>
        <p><b>To come out with the best programming language and related technology i.e. we are trying to use Python's philoshopy Develope, Easy & Fast with DefPy.</b>
          DefPy faciliates  virtual classroom for Online, Offline training for students, corporates, industrial delegates. We are constantly expanding our ways of reaching out to you to understand your needs and aspirations. </p>

        </div>


        <div class = "our-vision col-md-12">
          <p class = "tag" >&nbsp;Reviews&nbsp;</p>
          {% for review in reviews %}
          <div class="col-md-2 col-sm-2 col-xs-3">
            <img alt="image" class="img-responsive" src="{{ review.photo.url }}">
          </div> 
           <div class="col-md-10 col-sm-10 col-xs-9">
              <h4 class="no-margin">{{ review.person_name }} <i> <small><a href = "http://{{ review.social_link }}" target = "_blank">({{ review.social_platform }})</a></i></small></h4>
              <h6 class="review_page_content">{{ review.position }},{{ review.organization }}</h6>
            </div>
            <div class="row">
              <div class="col-md-3 col-sm-3 col-xs-5"> 
                <span class="star-rating"> 
                  {% if review.rating == 5 %}
                    {% for counter in "12345" %}  
                    <i class="fa fa-star starcolor"></i>
                    {% endfor %}
                {% else %}
                  {% for counter in "1234" %}  
                    <i class="fa fa-star starcolor"></i>
                  {% endfor %}
                  <i class="fa fa-star"></i>
                {% endif %}

                </span>
              </div> 
            </div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
              <p class="reviewsquots_mobile" style = "text-align:justify;">{{ review.review | safe }}
              </p>          
              </div>
            </div>
          {% endfor %}

        </div>
      </div>
        <div class="col-md-3 col-sm-12">
          
            <div class="right-contact phoneicon">
            <ul>
              <i class="fa fa-phone"></i>&nbsp;<strong style="padding:5px;">Mob.:</strong> +91-9413913741 <br>
            <i class="fa fa-pencil"></i>&nbsp;<strong style="padding:5px;">Email:</strong> info@defpy.com

              </ul>

            </div><!--right-contact -->
          
          
          {% include "main_site/enquiry.html" %}
         
      </div>
        <div class="col-md-3 col-sm-12 top-rated-course right-side-query">
          <h3 class="heading-bg" style = "margin-top:0px;">Top Rated Courses</h3>
              <!--course-d stsrt-->
        {% for course in courses %}
        
        <div class="col-md-12 course-description mix {{ course.meta }}"><!--course description-->
          <div class="course-panel-normal course-panel-normal-active" style="display: block;"><!--course-panel-normal sstart-->

        <a href = "/detail/{{ course.id }}" id = "{{ course.id }}" class = "course_link" style = "cursor:pointer;">
            <div class="course-panel-main " data-myorder="{{ course.id }}"><!--course-panel-main start-->
              <div class="course-panel all "><!--course-panel start-->
                <div class="course-image-panel">
                  <img src="{{course.logo.url}}" class="" alt="{{ course.name }}" width = "100%" height = "100%" >                   
                </div>
                <!--course-image-panel-->
                <div class="course-content-panel"><!--course-content-panel strt-->
                  
                  <div class="each-course-panel"><!--each-course-panel stayrt-->
                    
                        <i class = "font-11">{{ course.name }}</i> 
                      
                  </div><!--each-course-panel end-->
                 
                </div><!--course-content-panel end-->
                <!--course-content-panel-->
              </div>
              <!--course-panel-->
            </div>
            <!--course-panel-main-->
          </div>
          <!--course-panel-normal-->
        </div><!--course-description-->
        </a>         
              {% endfor %}
        
      
      </div>
    </div>

  </div>
<!--defpy-body -->
<div class = "space"></div>
	{% include "main_site/footer.html" %}

	</body>
</html>

