{% load static %}
{% get_static_prefix as STATIC %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- meta for seo -->
<meta name = "keywords" content="HTML,CSS,XML,JavaScript" />

<!-- google email -->

<meta name="google-site-verification" content="xSV-8W1KsIenCJRvzyO3LiuhJw0OoNEz8-eg8U_TRX0" />
<!-- google email end -->
<title>Python, Big Data, Cloud and Linux Training</title>
<link href="{{ STATIC }}images/fav.png" rel="shortcut icon" type="image/x-icon" />
<link href="{{ STATIC }}css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC }}font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC }}css/defpy.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC }}css/blue.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC }}css/style.css" rel="stylesheet" type="text/css" />

<meta name="viewport" content="width=device-width, initial-scale=1">
<script  src="{{ STATIC }}js/jquery.min.js"></script>
<script  src="{{ STATIC }}js/template.js"></script>
<script src="{{ STATIC }}js/1.11.1-jquery.validate.min.js"></script>
<script src="{{ STATIC }}js/bootstrap.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61052723-1', 'auto');
  ga('send', 'pageview');

</script>

<!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
$.src="//v2.zopim.com/?2wHxf0914CWVgxZXksOcPQHo5lFzNLdL";z.t=+new Date;$.
type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>
<!--End of Zopim Live Chat Script-->
</head>