{% include "main_site/base.html" %}
<body>
{% include "main_site/topheader.html"%}

<style type="text/css">
details{
	display: none;
	color: red;
}
</style>

<div class="container defpy-body boxed margin-1em">
	<div class = "floating-query hidden-xs">
    <a class="floating-drop-query drop-query" data-toggle="modal" data-target="#myModal-enroll"><span class="vertical-text">Learn Python</span></a>
  </div>
    <div class="row ">

        <div class="col-md-12 col-sm-12 ">
        	<p>You can use the following Python terminal to run your first Python Program.</p>
        	<iframe id = "terminal" src=http://brython.info/console.html width="100%" height = 300 style = "background-color:black;" >
        	</iframe>
        </div> 
        <div class="col-md-12 col-sm-12 ">
        	<h4 class = "heading-bg">First Python Program </h4> 
	    	<p><b>"Hello World" Program in Python</b></p>
	    	<p>1. On above terminal write: <i>print ("Hello World")</i> </p>
	    	<p>2. Hit Enter</p>
	    	<p>3. Amazing , Output is: <i>Hello World</i></p>
    	</div>
    </div>
 </div>
 <div class = "space"></div>
  {% include "main_site/footer.html" %}


<div class="modal fade" id="myModal-enroll" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class = "modal-header heading-bg">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class = "modal-title">
        <h4> Learn Python</h4>
        </div>
        
      </div>
      {% include "main_site/enquiry.html" %}
    </div>
  </div>
</div>