{% include "main_site/base.html" %}
<body>
{% include "main_site/topheader.html"%}



<div class="container defpy-body boxedn margin-1em">
    <div class="row">
        <div class="col-md-6 col-sm-12 ">
            <h3 class="heading-bg"><span>Our Address</span></h3>
            <p>You can contact us at the following addresses, or fill up the form on the right side for any queries. We will get back to you at our earliest possible.</p>
            <div class = "row">
                <div class = "col-md-12">
                    <h4>Mailing Address:</h4>
                    Unit Nos: 69,<br>
                    Site - I, Vikaspuri  ,<br>
                    Uttam Nagar East,<br>
                    Delhi - 110018, <br></p>
                </div>
            </div>

            <div class = "row">
                <div class = "col-md-12">
                    <h4>Online Address:</h4>
                    Email - info@defy.com,<br>
                    Mob. - +91-9413913741 ,<br>
                    Whatapp No. - +91-9413913741 ,<br>
                    </p>
                </div>
            </div>

            <div class = "row">
                <div class = "col-md-12">
                    <h4>We are social:</h4>
                    <a class="socrite fb" href="https://www.facebook.com/defpyindia" target="_blank"></a>
                    <a class="socrite gplus" href="#" target="_blank"></a>
                    <a class="socrite twitter" href="#" target="_blank"></a>
                    <a class="socrite youtube" href="#" target="_blank"></a>
                </div>
            </div>
           <!--  <div class = "row">
                 <div class = "col-md-12">
                    <h4>MAILING ADDRESS:</h4>
                    <p><strong>Edureka.co</strong><br>
                    Unit Nos: 501-507, 5th Floor, Delta Block,<br>
                    Sigma Soft Tech Park,<br>
                    Varthur Road,<br>
                    Bangalore- 560066</p>
                </div>
            </div> -->

        </div>
        <div class="col-md-6 col-sm-12 ">
            <h3 class = "heading-bg">Contact Us</h3>
            {% include "main_site/enquiry.html" %}
        </div>
    </div>
</div>

<div class = "space"></div>
  {% include "main_site/footer.html" %}
</body>