{% include "main_site/base.html" %}
<body>
{% include "main_site/topheader.html"%}
{% load split_sub_heading %}

<div class="container defpy-body boxed margin-1em">
<div class="row">
<div class="col-md-3 col-sm-12 def-left">

  <div class="tech-logo">
  <img src="{{ course.logo.url }}" class="img-responsive" />

  </div><!-- tech-logo -->
  <div class = "menu-options">
  	<ul class="nav nav-pills nav-stacked left-menu">
    <!-- <li  ><a href="#"><i class="fa fa-home"></i> Home</a></li> -->
    <!-- <li><a class="active sidetab" id = "about-the-course" style = "cursor:pointer;"><i class="fa fa-home"></i> About The Course</a></li> -->
    <li><a id = "course-objectives" class = "sidetab active" style = "cursor:pointer;"><i class="fa fa-search-plus"></i> Course Objectives </a></li>
    <li><a id = "who-should-join" class = "sidetab" style = "cursor:pointer;"><i class="fa fa-hand-o-right"></i> Who Should Join</a></li>
   <!--  <li><a id = "in-news" class = "sidetab" style = "cursor:pointer;"><i class="fa fa-eye"></i> In News</a></li> -->
    <li><a id = "reviews" class = "sidetab" style = "cursor:pointer;"><i class="fa fa-check"></i> Reviews</a></li>
    <!-- <li><a id = "enroll" style = "cursor:pointer;"><i class="fa fa-home"></i> Enroll</a></li> -->
    </ul>
  </div>

  <div style="background-color:#EBEBEB;">
    <h5 class = "heading-bg">Great Sayings About {{ course.tech_name.tech_name }} </h5>
    {% for great_saying in great_sayings %}
    <i> {{ great_saying.saying | safe }} </i> - <small>{{ great_saying.by_whom }},{{ great_saying.designation }},{{ great_saying.organization }}</small>
    <hr height = "10px" >
    {% endfor %}
  </div>


</div><!-- def-left -->


<div class="col-md-6 col-sm-12 def-middle">
<div class="current-page">
<ul class="list-inline">
  <li><a href = "/">Home</a></li>
  <li> > Courses ></li>
  <li>{{ course.name }}</li>
</ul>

</div> <!--current-page -->

<div class="tech-heading">
<div class="head">
<h3 class="heading-bg">{{ course.name }} </h3>
<p> {{ course.intro|safe }} </p>


</div><!--head -->

</div><!--tech-heading -->

{% if course.is_workshop %}
  <strong>Duration : 16 Hours</strong>
{% else %}
<h3 class="heading-bg">Batch Scheduling </h3>
<div class="def-table table-responsive">
<table class="table table-bordered table-striped table-condensed">
        		<thead>
        			<tr>
        				<th>Starts</th>
        				<th>Duration</th>
                        <th class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Time<b class="caret"></b></a>
                        <!-- <ul class="dropdown-menu pull-center">
                            <li><a href="#">ISD</a></li>
                            <li><a href="#">Drafts</a></li>
                            <li><a href="#">Sent Items</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Trash</a></li>
                        </ul> -->
                        </th>
                        <!-- <th class="numeric">Days</th> -->
                        <th class="numeric">Type</th>
        				<th class="numeric dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Price<b class="caret"></b></a>
                        <!-- <ul class="dropdown-menu pull-center">
                            <li><a href="#"><i class="fa fa-flag-AF">ISD</i></a></li>
                            <li><a href="#">Drafts</a></li>
                            <li><a href="#">Sent Items</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Trash</a></li>
                        </ul> -->
                   
                        </th>
        				<th class="numeric">&nbsp;</th>
        				
        				
        				
        			</tr>
        		</thead>
        		<tbody>
                    {% for batch in training_batch %}
        			<tr>
        				<td data-title="Code">{{ batch.starts }}</td>
        				<td data-title="Company">{{ batch.duration }}</td>
        				<td data-title="Price" class="numeric">{{ batch.start_time }} - {{ batch.end_time }}</td>
        				<!-- <td data-title="Change" class="numeric">{{ batch.days }}</td> -->
        				<td data-title="Change %" class="numeric">{{ batch.training_type }}</td>
        				<td data-title="Open" class="numeric">{{ batch.fee }}</td>
                <td data-title="Open" class="numeric">
                  <a style = "cursor:pointer;" id = "{{ batch.id }}" data-toggle="modal" data-target="#myModal-enroll" class = "enroll-link">Enroll</a>
                </td>
<!--                         <td data-title="Open" class="numeric"></td> -->
        				
        			</tr>
                    {% endfor %}
        			
        	   </tbody>
            </table>


</div><!--def-table -->
{% endif %}
<!-- <div class="about-course" id = "about-the-course">
<h2 style="font-size:20px">About The Course</h2>
<p>{{ course.about_the_course|safe }}</p>
</div> -->
<!--about-course -->

<div class="course-objective sidetab-detail" id = "course-objective-detail">
<h2 style="font-size:20px" class="heading-bg" >Course Objectives</h2>


<!-- accordion starts -->
<div class="bs-example">
    <div class="panel-group" id="accordion">
      {% for cc in coursecontent %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse_{{ cc.id }}">{{ forloop.counter }}. {{ cc.main_heading|title }}</a>
                </h4>
            </div>
            {% if forloop.counter == 1%}
            <div id="collapse_{{ cc.id }}" class="panel-collapse collapse in">
            {% else %}
             <div id="collapse_{{ cc.id }}" class="panel-collapse collapse">
            {% endif %}
                <div class="panel-body padding-0">
                  <ul class="list-group">

                    {% for v in  cc.sub_heading|get_split %}
                    <li class="list-group-item list-group-item-info margin-7">
                      {{ v|title }}
                    </li>
                    {% endfor %}
                  <ul class="list-group">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- accordion ends -->

</div>














<!--about-course -->
<div class="about-course sidetab-detail" id = "who-should-join-detail" style = "display:none;" >
<h2 style="font-size:20px;" class="heading-bg" >Who Should Join</h2>
<p> {{ course.who_should_join|safe }} </p>
</div><!--about-course -->

<!--reviews -->
<div class="reviews sidetab-detail" id = "reviews-detail" style = "display:none;" >
<h2 style="font-size:20px;" class="heading-bg" >Reviews</h2>

{% for review in reviews %}
<div class="alllearners_reviews">
  <div class="row">
    <div class="col-md-2 col-sm-2 col-xs-3">
      <img alt="image" class="img-responsive" src="{{ review.photo.url }}">
    </div> 
    <div class="col-md-10 col-sm-10 col-xs-9">
      <h4 class="no-margin">{{ review.person_name }} <i> <small><a href = "http://{{ review.social_link }}" target = "_blank">({{ review.social_platform }})</a></i></small></h4>
      <h6 class="review_page_content">{{ review.position }},{{ review.organization }}</h6>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-5"> 
      <span class="star-rating"> 
        {% if review.rating == 5 %}
          {% for counter in "12345" %}  
          <i class="fa fa-star starcolor"></i>
          {% endfor %}
      {% else %}
        {% for counter in "1234" %}  
          <i class="fa fa-star starcolor"></i>
        {% endfor %}
        <i class="fa fa-star"></i>
      {% endif %}

      </span>
    </div> 
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <p class="reviewsquots_mobile" style = "text-align:justify;">{{ review.review | safe }}
      </p>          
    </div>
  </div>
</div>
<hr>
{% endfor %}

</div>
<!--reviews-->

</div><!--def-middile -->
<div class="col-md-3 col-sm-12 defpy-right">
<div class="right-contact phoneicon">
<ul>
<i class="fa fa-phone"></i>&nbsp;<strong style="padding:5px;">Mob.:</strong> +91-9413913741 <br>
<i class="fa fa-pencil"></i>&nbsp;<strong style="padding:5px;">Email:</strong> info@defpy.com

</ul>

</div><!--right-contact -->
<h3 class = "heading-bg">Drop a Query</h3>
{% include "main_site/enquiry.html" %}
</div><!--defpy-right -->

</div><!--first row -->



</div> <!--container -->


<div class = "space"></div>
  {% include "main_site/footer.html" %}


<!-- pop up started -->
<div class="modal fade" id="myModal-enroll" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header enroll-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class = "modal-title">
        <h4>Let Me Enroll</h4>
        </div>
      </div>
        <p>
        <!-- section start -->
            <div class="section dark-bg">
                <div class="container interest-containter font-12">
                <!-- <img src="{{ STATIC }}images/loading110.gif" style="display:none; z-index:1000; position:absolute; top:36%;right:45%;" height="82px" id = "processing-img"> -->

                    
                    <form role="form" id = "register-form" method="post" action = "/enroll/">{% csrf_token %}
                        <div class="row">
                            <div class="col-md-2">
                            <label class="control-label" for="inputSuccess4" >Full Name: </label>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    
                                    <input type="text" class="form-control no-border-radius" id="full_name" name="full_name" placeholder = "Your Full Name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                            <label class="control-label" for="inputSuccess4">Email: </label>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    
                                    <input type="email" class="form-control no-border-radius" id="email" name="email" placeholder = "Valid Email Address">
                              
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                            <label class="control-label" for="inputSuccess4">Mobile: </label>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    
                                    <input type="text" class="form-control no-border-radius" id="mobile" name="mobile" placeholder = "10 Digit Mobile Number">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                            <label class="control-label" for="inputSuccess4">Highest Qualification: </label>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    
                                    <input type="text" class="form-control no-border-radius" id="highest_qualification" name="highest_qualification"  placeholder = "Highest Qualification You Entitle">
                                    
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                            <label class="control-label" for="inputSuccess4">Location: </label>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group ">
                                    
                                    <input type="text" class="form-control no-border-radius" id="location" name="location" placeholder = "Country, State, City">
                                    
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                            <label class="control-label" for="inputSuccess4">Collge / Company Name: </label>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    
                                    <input type="text" class="form-control no-border-radius" id="organization" name="organization" placeholder = "Institute or Company You Belongs To">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" >
                              <input type = "hidden" id = "batch_id" name = "batch_id">
                              <button id = "register-btn" class="btn btn-info no-border-radius" style = "width:100%;">Enroll</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </p>
      </div>
      
    </div>
  </div>
</div>
     <!-- new pop up ended -->




<script type="text/javascript">
$(document).ready(function($){ 

  $(".enroll-link").click(function(){
    $("#batch_id").val($(this).attr("id"))
  })
  //alert("new form")
  $('#register-form').validate({
        rules: {
            full_name: {
                minlength: 2,
                required: true
            },
            email: {
                required: true,
                email: true
            },
            mobile: {
                minlength: 10,
                maxlength :12,
                required: true,
                digits: true
            },
            highest_qualification: {
                minlength: 2,
                required: true
            },
            location: {
                minlength: 2,
                required: true
            },
            organization: {
                minlength: 2,
                required: true
            }
        },

        messages: {               //messages to appear on error
                full_name : {required : "Please enter your name."},
                email : {required : "Email is required.",email : "Input valid email address"},
                mobile : {required : "Please enter phone number.",minlength : "Please enter a valid phone number",maxlength : "Please enter a valid phone number"},
                highest_qualification : {required : "Please mention your highest qualification."},
                location : {required : "Please mention your location."},
                organization : {required : "Please write your organization."}                   
            },
        highlight: function (element) {
            //alert(element)
            $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
        },
        success: function (element) {
            $(element).addClass('valid').closest('.form-group').removeClass('has-error').addClass('has-success');
        },
    });



  $("#enroll-id").click(function(){
    $(".sidetab").removeClass('active')
    alert("enroll-id")

  });

  $("#course-objectives").click(function(){
    $(".sidetab").removeClass('active')
    $(this).addClass("active")
    $(".sidetab-detail").hide()
    $("#course-objective-detail").show()
    //alert("course-objectives")
  });

  $("#who-should-join").click(function(){
    $(".sidetab").removeClass('active')
    $(this).addClass("active")
    //alert("who-should-join")
    $(".sidetab-detail").hide()
    $("#who-should-join-detail").show()
  });


  $("#reviews").click(function(){
    $(".sidetab").removeClass('active')
    $(this).addClass("active")
    //alert("reviews")
    $(".sidetab-detail").hide()
    $("#reviews-detail").show()
  });



});


</script>
