{% load static %}
{% get_static_prefix as STATIC %}
<div class="right-side-query" id = "query-form-id">
     
    <form method="POST" action="/submit-query/" id="query-form">
      {% csrf_token %}
        <div class="form-group">
            
                <input type="text" name="name" id="name" placeholder="Your name" class="form-control">
            
        </div>
        <div class="form-group">
            
                <input type="text" name="email" id="email" placeholder="Your email address" class="form-control">
            
        </div>
        <div class="form-group">
            
               <input type="text" name="mobile" id="mobile" placeholder="Your Mobile Number" class="form-control">
            
        </div>
        <div class="form-group">
            
                <textarea name="query" id="query" rows="8" class="form-control" placeholder="The message you want to send to us."></textarea>
           
        </div>
        <div class="form-actions">
            <!-- <input type="hidden" name="save" value="contact"> -->
            <button id = "submit-q" class="btn btn-info enroll-header" style="width:100%; border-radius:0px; padding:10px;">Submit</button>
        </div>
    </form>
</div>

<img src="{{ STATIC }}images/loading.gif" style="display:none;z-index:1000; position:absolute; top:36%;right:45%;" height="82px" id = "loading-img">
<script type="text/javascript">

$(document).ready(function($){ 
    $('#query-form').validate({
        rules: {
            name: {
                minlength: 2,
                required: true
            },
            email: {
                required: true,
                email: true
            },
            mobile: {
                minlength: 10,
                maxlength :12,
                required: true,
                digits: true
            },
            query: {
                minlength: 2,
                required: true
            }
        },

        messages: {               //messages to appear on error
                name : {required : "Please enter your name."},
                email : {required : "Email is required.",email : "Input valid email address"},
                mobile : {required : "Please enter phone number.",minlength : "Please enter a valid phone number",maxlength : "Please enter a valid phone number"},
                query : {required : "Please write your Query."}                   
            },
        highlight: function (element) {
            $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
        },
        success: function (element) {
            $(element).addClass('valid').closest('.form-group').removeClass('has-error').addClass('has-success');
        },
        submitHandler: function(form) {
        // do other stuff for a valid form
        $("#loading-img").show()
        $.post('/submit-query/', $("#query-form").serialize(), function(data) {
        $("#query-form-id").html(data);
        $("#query-form-id").css("color","green")
        $("#loading-img").hide()
        });
  }
    });

});
</script>