{% load static %}
{% get_static_prefix as STATIC %}
<div class="container-fluid footer">
		<div class="container">
		<div class="col-md-3 col-sm-12 about-defpy">
		<h4>About DefPy</h4>
		<p>To come out with the best programming language and related technology i.e. we are trying to use Python's philoshopy Develope, Easy & Fast with DefPy .DefPy faciliates  virtual classroom for Online, Offline training for students, corporates, industrial delegates. We are constantly expanding our ways of reaching out to you to understand your needs and aspirations.<a href="/about/">Read More>></a> </p>


		</div><!--about-defpy -->
		<div class="col-md-3 col-sm-12 blog-1">
		<h4>Why to join DefPy</h4>

		
		
		<!-- <div class="post-area">
		<i class="fa fa-check"></i> &nbsp;&nbsp;
		Develop Easy & Fast in Python With Us.
		</div><!--post-area -->
		{% for value in features%}
		
		<div class="post-area">
		<i class="fa fa-check"></i> &nbsp;&nbsp;
			{{ value.sentence }} 	
		</div><!--post-area -->
		{% endfor %}

		</div><!--blog-2-->

		<div class="col-md-3 col-sm-12 footer-courses">
		<h4>Courses</h4>
		<ul class="list-unstyled">
		<li><a href="#">Python</a></li>
		<li><a href="#">Big Data</a></li>
		<li><a href="#">Hadoop</a></li>
		<li><a href="#">Linux Administrator</a></li>
		<li><a href="#">Cloud Computing</a></li>
		<li><a href="#">Django</a></li>
		</ul>
		</div><!-- footer-courses -->
		</div><!-- container footer -->

		</div><!--container-fluid footer -->
		<div class="container-fluid copyright-field">
		<div class="container">
		<div class="col-md-3 col-sm-12">
		<h5>DefPy </h5>
		<small style="color:#FFF;">@2015 Defpy . All Rights Reserved.</small>
		</div>
		<div class="col-md-3 col-md-offset-6">
		<h5>Follow Us On</h5>
		<a class="socrite fb" href="https://www.facebook.com/defpyindia" target="_blank"></a>
		<a class="socrite gplus" href="#" target="_blank"></a>
		<a class="socrite twitter" href="#" target="_blank"></a>
		<a class="socrite youtube" href="#" target="_blank"></a>

		</div>
		</div>
		</div><!-- copyright -->


<!-- <script src="{{ STATIC }}js/custom.js"></script> -->
<script src="{{ STATIC }}js/mixitup.js"></script>
<script src="{{ STATIC }}js/plugins/modernizr.js"></script>
<script type="text/javascript">
$(document).ready(function($){
	$('a[href="'+ location.pathname +'"]').closest("li").addClass("active");
});
</script>