	{% include "main_site/base.html" %}

	<body>

	{% include "main_site/topheader.html" %}


	{% include "main_site/main.html" %}

	<div class = "space"></div>
	{% include "main_site/footer.html" %}

	</body>
</html>

<script type="text/javascript">
/*menu handler*/
// $(document).ready(function(e){
//    e.stopImmediatePropagation();
//    $('.nav li').removeClass('active');//or $('.active').removeClass('active');
// });
// $(function(){

//   function stripTrailingSlash(str) {
//     if(str.substr(-1) == '/') {
//       return str.substr(0, str.length - 1);
//     }
//     return str;
//   }

//   var url = window.location.pathname;  
//   var activePage = stripTrailingSlash(url);

//   $('.nav li a').each(function(){  
//     var currentPage = stripTrailingSlash($(this).attr('href'));

//     if (activePage == currentPage) {
//       $(this).parent().addClass('active'); 
//     } 
//   });

//   $('.nav li').removeClass('active');
// });
</script>