{% load static %}
{% get_static_prefix as STATIC %}
<style type="text/css">
  .course-d .mix{
  display: none;
  }
</style>
<div class="container defpy-body boxed margin-1em">
  <div class = "floating-query hidden-xs">
    <a class="floating-drop-query drop-query" data-toggle="modal" data-target="#myModal-enroll"><span class="vertical-text">Drop a Query</span></a>
  </div>
  <div class = "row page-margin">
    <div class = "col-md-12 col-sm-12 top-content" >
  
      <div class = "col-md-12">
      <p>The DefPy <b>Python ,MongoDB, Cloud Computing , Linux and Big Data & Hadoop Training </b> offers a
customizable, flexible and comprehensive set of courses that teach all these technologies to audiences that range from beginners to advanced level.
Our courses take the approach that learning by doing is best method to quickly become proficient with a new skill or technology.
<b>We are the only who have 11 kind of courses in Python Programming Language.</b>
Available modes of trainings are <b> Online , Classroom, Workshops, Seminars, Webinars </b>etc. All courses are open to novice to experts. <i>To know more about each course , please click on respective tile.</i>
      </div>
      <div class = "col-md-12">
          <hr style = "border-color:#5BC0DE;">
      </div>
</p>

    </div>
  </div>

  <div class="row course-heading-search">
    <!-- category tag starts -->
    <!-- <div class="col-md-9 col-sm-12 course-name">
      <h4>Services</h4>
    </div> -->
    <!--category tag end -->
    <!-- search start -->
 <!--    <div class="col-md-3 col-sm-12 search">
      <form>
        <input type="text" class="input_search" placeholder="search for courses"></input>
        <button class="search-icon" type="button">
        <i class="fa fa-search"></i>
        </button>
      </form>
    </div> -->
    <!--search end -->
  </div>
  <!--course-heading-search -->
  <div class="row vertical-menu">
    <div class="col-md-3 col-sm-12 inside-vertical">
      <div class="navbar-inner-neuui">
        <ul class="nav nav-pills nav-stacked">
          <li class="all-courses-active"><a href="javascript:void(0)" class="filter active" data-filter="all" data-sort="myorder:asc" id="allcources-active"><i class="fa fa-server"></i>&nbsp;&nbsp;
 All Courses</a></li>
        </ul>

        <ul class="nav nav-pills nav-stacked" style="clear: both; padding-top: 30px;">
          <li class = ""><a href="javascript:void(0)" id="trending-d-active" class="filter new-color" data-filter=".workshop">
            <i class="fa fa-users"></i> &nbsp;&nbsp;Workshops </a></li>
        </ul>

        <ul class="nav nav-pills nav-stacked" style="clear: both; padding-top: 30px;">
          <li class = "new-color"><a href="javascript:void(0)" class="filter" data-filter=".corporate">                      
          <i class="fa fa-angellist"></i> &nbsp;&nbsp;Corporate Trainings </a>
          </li>
          <li><a href="javascript:void(0)" class="filter" data-filter="online"><i class="fa fa-desktop"></i>&nbsp;&nbsp;Online Trainings </a>
          </li>
          <li><a href="javascript:void(0)" class="filter" data-filter="regular"> 
            <i class="fa fa-certificate"></i> &nbsp;&nbsp;Regular / Offline Trainings  </a>
          </li>
          <li><a href="javascript:void(0)" class="filter" data-filter=".python">
            <i class="fa fa-code"></i> &nbsp;&nbsp;Python Trainings  </a>
          </li>
        </ul>
        <ul class="nav nav-pills nav-stacked" style="clear: both; padding-top: 30px;">
          <li><a href="javascript:void(0)" class="filter" data-filter="conference">
          <i class="fa fa-university"></i> &nbsp;&nbsp; Conferences </a>
          </li>
        </ul>

        <ul class="nav nav-pills nav-stacked" style="clear: both; padding-top: 30px;">
          <li><a href="javascript:void(0)" class="filter" data-filter=".python"> <i class="fa fa-code"></i> &nbsp;&nbsp;Python Trainings </a>
          </li>

          <li><a href="javascript:void(0)" class="filter" data-filter=".cloud">
            <i class="fa fa-cloud"></i> &nbsp;&nbsp;Cloud Computing Trainings  </a>
          </li>
          <li><a href="javascript:void(0)" class="filter" data-filter=".hadoop">
            <i class="fa fa-database" ></i> &nbsp;&nbsp;<span style = "font-size:10px;">Big Data & Hadoop Trainings</span> </a>
          </li>
          <li><a href="javascript:void(0)" class="filter" data-filter=".linux">
          <i class="fa fa-linux"></i> &nbsp;&nbsp; Linux Trainings </a>
          </li>
        </ul>
      </div>
    </div>
    <!--inside-vertical-->

    <div class="col-md-9 col-sm-12 "><!--col-9-start-->

      
      <div class="row course-d "><!--course-d stsrt-->
      	{% for course in courses %}
        
        <div class="col-md-4 course-description mix {{ course.meta }}"><!--course description-->
          <div class="course-panel-normal course-panel-normal-active" style="display: block;"><!--course-panel-normal sstart-->

        <a href = "/detail/{{ course.id }}" id = "{{ course.id }}" class = "course_link" style = "cursor:pointer;">
            <div class="course-panel-main " data-myorder="{{ course.id }}"><!--course-panel-main start-->
              <div class="course-panel all "><!--course-panel start-->
                <div class="course-image-panel">
                  <img src="{{course.logo.url}}" class="" alt="{{ course.name }}" width = "100%" height = "100%" >                   
                </div>
                <!--course-image-panel-->
                <div class="course-content-panel"><!--course-content-panel strt-->
                  
                  <div class="each-course-panel"><!--each-course-panel stayrt-->
                    
                        <i class = "font-11">{{ course.name }}</i> 
                      
                  </div><!--each-course-panel end-->
                 
                </div><!--course-content-panel end-->
                <!--course-content-panel-->
              </div>
              <!--course-panel-->
            </div>
            <!--course-panel-main-->
          </div>
          <!--course-panel-normal-->
        </div><!--course-description-->
        </a>
                    
                      
              {% endfor %}
        
        
      </div><!--course-d end-->
       
    </div>
    <!--col-md-9-end -->
  </div>
  <!--vertical-menu -->
</div>
<!--defpy-body -->

<div class="modal fade" id="myModal-enroll" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class = "modal-header heading-bg">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class = "modal-title">
        <h4> Drop a Query </h4>
        </div>
        
      </div>
      {% include "main_site/enquiry.html" %}
    </div>
  </div>
</div>


<script type="text/javascript">
  $(function(){
    $('.course-d').mixItUp();
  });
</script>
