{% include "main_site/base.html" %}
{% include "main_site/topheader.html" %}
<div class="container defpy-body boxed" style="margin-top: 4em;">
    <div class="row page-margin">
        <div class="col-md-8 col-sm-12">
            <br>
            <p>Dear {{ full_name }},</p>
            <p>Thank you for registering yourself in Python Advance </p>
            <p>Course Details are :- </p>
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Starts</th>
                        <th>Duration</th>
                        <th class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Time<b class="caret"></b></a>
                        </th>
                        
                        <th class="numeric">Type</th>
                        <th class="numeric dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Price<b class="caret"></b></a>

                        </th>
                        <th class="numeric">Status</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr>
                        <td data-title="Code">{{ batch.starts }}</td>
                        <td data-title="Company">{{ batch.duration }}</td>
                        <td data-title="Price" class="numeric">{{ batch.start_time }} - {{ batch.end_time }}</td>
                        <td data-title="Change %" class="numeric">{{ batch.training_type }}</td>
                        <td data-title="Open" class="numeric">{{ batch.fee}}</td>
                <td data-title="Open" class="numeric">
                  UNPAID
                </td>
                        
                    </tr>

               </tbody>
            </table>
            <p>DefPy welcomes you.</p>
            <p>DefPy delighted to inform you that You are registered for the courses of defPy Series.  After Enrollment you Have to deposit your course fee, Select a payment methods will easy for you. DefPy offers an array of payment options, both online and offline, which are made available to you by us. Different payment methods have innumerable advantages and every option can work differently.</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <h2 style="font-size:20px" class="heading-bg" >Payment option Available</h2>
            <p>What are the different forms of payment?</p> 
            <p>There are four primary ways that a consumer pays for a course online:</p>
            <p>
                <ul>
                    <li>National Electronic Funds Transfer (NEFT) * New</li>
                    <li>Cash – Over the Counter at SBI Bank</li>
                    <li>PayPal </li>
                    <li>Mobile Payments – IMPS * New</li>
                </ul>
            </p>
        </div>
    </div>
    <div class="row page-margin">
        <div class="col-md-8 col-sm-12">
            <h2 style="font-size:20px" class="heading-bg" >National Electronic Funds Transfer (NEFT)</h2>
            <p>
            You may pay your course Fee using the popular and convenient NEFT payment system.  You may also make your NEFT payment through online banking or mobile banking meaning you do not have to visit your nearest bank branch. Be aware that your bank may apply charges to your account for NEFT transactions.
            Please make only one payment per unique account number, as there are the payment is non-refundable.</p>
            <p>
            Account Details are below - <br>
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Starts</th>
                        <th>Duration</th>
                        
                    </tr>
                </thead>
                <tbody>
                    
                    <tr>
                        <td data-title="Code">Account holder name: </td>
                        <td data-title="Company">Sunil Kumar Sharma</td>
                    </tr>
                    <tr>
                        <td data-title="Code">Account Number</td>
                        <td data-title="Company">34195291855</td>
                    </tr>
                    <tr>
                        <td data-title="Code">Name of bank</td>
                        <td data-title="Company">State Bank of India</td>
                    </tr>
                    <tr>
                        <td data-title="Code">Branch – </td>
                        <td data-title="Company">Surya Nagar, Alwar - 16022</td>
                    </tr>
                    <tr>
                        <td data-title="Code">IFSC Code – </td>
                        <td data-title="Company">SBIN0016022</td>
                    </tr>
                    <tr>
                        <td data-title="Code">SWIFT Code-</td>
                        <td data-title="Company">SBININBB765  (Jaipur Branch)</td>
                    </tr>
               </tbody>
            </table>
            </p>
    
        </div>
        <div class="col-md-4 col-sm-12">
            <div class = "row">
                <div class = "col-md-12">
                    <h2 style="font-size:20px" class="heading-bg" >Cash – Over the Counter at SBI Bank</h2>
                    <p>You can deposit required amount of fee by Cash deposit (offline) From Nearest SBI Branch using the bank account no. as given below. In addition, must send the scanned copy of fee deposition slip for payment conformation.  </p>
                </div>
            </div>

            <div class = "row">
                <div class = "col-md-12">
                    <h2 style="font-size:20px" class="heading-bg" >PayPal Transfer</h2>
                    <p>PayPal is the fast, easy, and secure way to pay on eBay. You can also pay you via the online option of PayPal. </p>
                    <p>Defpy Pay pal Account – defpyindia@gmail.com </p>
                </div>
            </div>
        </div>

    </div>

    <div class="row page-margin">
        <div class="col-md-12 col-sm-12">

            <h2 style="font-size:20px" class="heading-bg" >Payment Instructions</h2>
            <p>
                <ul>
                    <li>DefPy will not accept fund transfer from (by) any other option except the above-mentioned details.</li>
                    <li>Kindly send us scanned copy of your deposit slip or online Transaction Details for confirmation.</li>
                    <li>Visit https://www.onlinesbi.com/nri/remittances/sbinri_rem.html  for list of correspondent bank name and location with SWIFT Code and more assistance</li>
                
                </ul>
            </p>
        </div>
    </div>

</div>

{% include "main_site/footer.html" %}