{% load static %}
{% get_static_prefix as STATIC %}
<!-- header top start -->
<div class="header-top">
<div class="container">
<div class="row">
    <div class="col-md-8">
    <ul class="info">
    {% for value in static_infos %}
        <li><i class="fa {{value.fa_icon}}"></i>{{value.info}}</li>
    {% endfor %}    
    </ul>
    </div>
    <div class="col-md-4">
    <ul class="social-links text-right">
    {% for link in social_links %}
        <li><a target="_blank" href="{{link.link_dest}}"><i class="fa {{link.link_icon}}"></i></a></li>
        <!--<li><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
        <li><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
         <li><a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li> -->
        <!--<li><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
         <li><a target="_blank" href="http://www.pinterest.com"><i class="fa fa-pinterest"></i></a></li> -->
    {% endfor %}
    </ul>
    </div>
</div>
</div>
</div>
<!-- header top end -->

<!-- header start -->
<header class="header text-center">
<div class="container">
<div class="row">
<div class="col-md-3">

    <a href="/"><img class = "logo" alt="def PY :" src="{{ STATIC }}images/logo_blue.png" ></a>

<!-- <div class="site-slogan">
    Develop Easy & Fast Python
</div> -->
</div>
<div class = "col-md-9" style = "padding-left:-10px;">
    <div class="col-sm-11 col-sm-offset-1">
        <div class="row junior-course-breakup">
            <div class="col-sm-2">
                <p class="common-breakup-info">10+</p> 
                <p class = "breakup-sub-detail">Python Modules</p>

            </div>
            <div class="col-sm-2">
                <p class="common-breakup-info">20+</p> 
                <p class = "breakup-sub-detail">Online Courses</p>

            </div>
            <div class="col-sm-2">
                <p class="common-breakup-info">Expert</p> 
                <p class = "breakup-sub-detail">Trainers</p>

            </div>
            <div class="col-sm-2">
                <p class="common-breakup-info">Flexible</p> 
                <p class = "breakup-sub-detail">Timings</p>

            </div>
            <div class="col-sm-1">
                <img height="80" src="http://acadgild.com/images/symbols/bracket-right.png">
            </div>
            <div style="padding-top:20px;" class="col-sm-3">
                <span style="color:#0f75bc;font-size:25px;"><b>DefPy</b></span>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</header>
<!-- header end -->

<!-- main-navigation start (remove fixed class from main-navigation in order to disable fixed navigation mode)-->
<div class="main-navigation fixed">
<div class="container">
<div class="row">
<div class="col-md-12">

<!-- navbar start -->
<nav class="navbar navbar-default" role="navigation">

    <!-- Toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav navbar-main-menu">
            <li class="dropdown active">
                <a href="/" class="dropdown-toggle" data-toggle="dropdown">Home</a>
              <!--   <ul class="dropdown-menu">
                    <li><a href="index.html">Home - Slider 1</a></li>
                    <li><a href="index-2.html">Home - Slider 2</a></li>
                    <li><a href="index-3.html">Home - No Slider</a></li>
                </ul> -->
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Python</a>
                <ul class="dropdown-menu">
                	{% for course in pycourses %}
                    <li><a href="/detail/{{ course.id }}"> {{ course.name }}</a></li>
                    {% endfor %}

                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Linux</a>
                <ul class="dropdown-menu">
                	{% for course in linuxcourses %}
                    <li><a href="/detail/{{ course.id }}"> {{ course.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
             <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Big Data & Hadoop</a>
                <ul class="dropdown-menu">
                	{% for course in bigcourses %}
                    <li><a href="/detail/{{ course.id }}"> {{ course.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cloud Computing</a>
                <ul class="dropdown-menu">
                	{% for course in cloudcourses %}
                    <li><a href="/detail/{{ course.id }}"> {{ course.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Company</a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'about' %}">About Us</a></li>
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="{% url 'console' %}" class="dropdown-toggle" data-toggle="dropdown">Console</a>
<!--                 <ul class="dropdown-menu">
                    <li><a href="{% url 'about' %}">About Us</a></li>
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                </ul> -->
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right navbar-symbols">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i></a>
                <ul class="dropdown-menu animated fadeInDownSmall">
                    <li>
                        <form role="search">
                            <div class="form-group search">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                        </form>
                    </li>
                </ul>
                <!--<div class="vertical-div hidden-xs"></div>-->
            </li>
            <!--<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-lock"></i></a>
                <ul class="dropdown-menu animated fadeInDownSmall">
                    <li>
                        <form class="login-form">
                            <div class="form-group name">
                                <input type="text" class="form-control" placeholder="username">
                            </div>
                            <div class="form-group password">
                                <input type="text" class="form-control" placeholder="password">
                            </div>
                            <button type="submit" class="btn btn-gray">Log In</button>
                            <span>or</span>
                            <button type="submit" class="btn btn-gray btn-default">Sing Up</button>
                            <ul>
                                <li><a href="#">Forgot your password?</a></li>
                            </ul>
                            <div class="divider"></div>
                            <span class="text-center">Login with</span>
                            <a href="#" class="btn btn-symb btn-facebook"> <i class="fa fa-facebook"></i></a>
                            <a href="#" class="btn btn-symb btn-twitter"> <i class="fa fa-twitter"></i></a>
                            <a href="#" class="btn btn-symb btn-googleplus"> <i class="fa fa-google-plus"></i></a>
                        </form>
                    </li>-->
                </ul>
            </li>
        </ul>
    </div>
</nav>
<!-- navbar end -->

</div>
</div>
</div>
</div>
<!-- main-navigation end -->

