<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>DefPy India</title>

          
   <meta name="robots" content="noindex,nofollow"></meta>
<meta property="og:title"></meta>
</head>                 
                 
<body>
<table width="614" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td  valign="top" align="left" style="border-right-width:1px;border-right-style:solid;border-right-color:#c0c0c0;border-left-width:1px;border-left-style:solid;border-left-color:#c0c0c0;border-top-width:1px;border-top-style:solid;border-top-color:#c0c0c0;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#c0c0c0;" ><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td valign="top" align="center" bgcolor="#FFFFFF" style="padding-left:21px;padding-bottom:10px;padding-top:10px;" ><a href="http://defpy.com"  target="_blank"><img label src="http://defpy.com/static/images/logo.png" alt="logo" width="250" border="0" /></a></td>
        </tr>
        <tr>
          <td valign="top" align="left"><img src="http://defpy.com/static/images/email/best_fit.png" alt="Python Programmig Language" width="612" border="0"  height="291" style="display:block;" /></td>
        </tr>
        <tr>
          <td valign="top" align="left" style="padding-left:20px;padding-right:20px;" ><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td  valign="top" align="left" style="font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#333;padding-right:20px;padding-top:20px;" >
				
				<br />
				<font style="font-size:15px;" ><p>
	<strong>Dear {{ p.contact_name }},</strong></p>

	<p style="text-align:center;" >
	<strong>You had attended 2 Days Workshop on Python Programming Language, hope so it enhanced your logical and programming skills.</strong>
	<p >
	Following are some resources to learn Python - <br>
	<table border="1" style="width:100%;text-align:center;" >
	<tbody>
		<tr style="background-color:#FF0C00;color:#fff;" >
			<th style="font-size:24px;" >
				Book Name</th>
			<th style="font-size:24px;" >
				Download Link</th>
		</tr>
		<tr>
			<td>
				Python Bible	
			</td>
			<td>
				<a href="http://edc.tversu.ru/elib/inf/0112.pdf" target = "_blank">Click Here</a>
		</tr>
		<tr>
			<td>
				Voilent Python
			<td>
				<a href="http://mirror7.meh.or.id/Programming/Violent_Python_A_Cookbook_for_Hackers_Forensic_Ana.pdf" target = "_blank">Click Here</a>
		</tr>
		<tr>
			<td>
				Head First Python
			<td>
				<a href="http://cdn.oreillystatic.com/oreilly/booksamplers/9781449382674_sampler.pdf" target = "_blank">Click Here</a>
		</tr>
		<tr>
			<td>
				Python for Kids
			<td>
				<a href="http://iss.schoolwires.com/cms/lib4/NC01000579/Centricity/Domain/408/Python%20for%20Kids%20-%20A%20Playful%20Introduction%20to%20Programming.pdf" target = "_blank">Click Here</a>
		</tr>
	</tbody>
</table>

	</p>
</p>
<p style="text-align:center;" >
	<strong>Discover your True Potential by learning Python Programming &nbsp;at DefPy India and scale new heights.</strong>
</p>
<!-- <p style="text-align:center;" >
	&nbsp;</p>
<p style="text-align:center;" >
	<strong>Online Classes : 20 hours + Python Project : 20 hours + On-Demand Support + Lifetime LMS Access&nbsp; + Doubts Clearing Sessions + Certification</strong></p>
<p>
	&nbsp;</p>
<p style="text-align:center;" >
	<strong><a href="http://easylearningguru.createsend1.com/t/t-l-tdtkdkt-tueyutli-i/"><span style="font-size:18px;" >Enroll Now »</span></a></strong></p> -->
<p>
	&nbsp;</p>
<table border="1" style="width:100%;text-align:center;" >
	<tbody>
		<tr style="background-color:#FF0C00;color:#fff;" >
			<th style="font-size:24px;" >
				Area of Interest</th>
			<th style="font-size:24px;" >
				Python to Learn</th>
		</tr>
		<tr>
			<td>
				Basics of Python 
			<td>
				<a href="http://defpy.com/detail/3" target = "_blank">Python Core</a>
		</tr>
		<tr>
			<td>
				OOP in Python, Advance Concepts of Python
			<td>
				<a href="http://defpy.com/detail/2" target = "_blank">Python Advance</a>
		</tr>
		<tr>
			<td>
				Graphical User Interface
			<td>
				<a href="http://defpy.com/detail/4" target = "_blank">GUI Development in Python</a>
		</tr>
		<tr>
			<td>
				Network Programming
			<td>
				<a href="http://defpy.com/detail/5" target = "_blank">Network Programming in Python</a>
		</tr>
		<tr>
			<td>
				Robotics Programming in Python
			<td>
				<a href="http://defpy.com/detail/6" target = "_blank">Python Raspberry Pi</a>
		</tr>
		<tr>
			<td>
				Number Crunching, Graph Plotting, Equation Solution
			<td>
				<a href="http://defpy.com/detail/7" target = "_blank">Python for Scientific & Numeric Computing</a>
		</tr>
		<tr>
			<td>
				Automate Software Testing 
			<td>
				<a href="http://defpy.com/detail/9" target = "_blank">Python for Testing Automation</a>
		</tr>
		<tr>
			<td>
				Website Development, Web App Development
			<td>
				<a href="http://defpy.com/detail/10" target = "_blank">Python for Web Development - Django</a>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
</font>
                  <br />
</td>
				  </tr>
				  <tr>
                <td width="178" valign="top" align="center" style="padding-top:20px;" ><table  border="0" cellspacing="0" cellpadding="0">
                 
                 
                    <tr>To Show you interest reply this mail or drop a query at
                      <a href="http://defpy.com/" target = "_blank">defpy.com</a>
                    </tr>
              

                  </table>  
				  <br />
</td>
</tr>				  
							  
     
	 		
     
            </table></td>
        </tr>
        <!-- 
        <tr>
          <td align="left" valign="top" style="border-top-width:1px;border-top-style:solid;border-top-color:#B3B3B3;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#B3B3B3;padding-left:20px;padding-top:15px;padding-bottom:15px;" ></td>
        </tr> -->
        <!-- <tr>
          <td valign="top" align="left"><table width="100%" border="0" cellpadding="5" cellspacing="0">
              <tr>
                <td><font face="Arial, Helvetica, sans-serif" size="1" color="#000000">
				<p>
	<span style="font-size:14px;" >Copyright © 2015 Easylearning.Guru, All rights reserved.</span></p>
<p>
	<span style="font-size:14px;" >Phone Number : <strong>+91 124 4763660</strong><br />
	Email: <strong>contact@easylearning.guru</strong></span></p>
<p>
	<span style="font-size:14px;" >Our mailing address is :<br />
	<strong>Easylearning.Guru<br />
	Plot No.97, Sector-44,<br />
	Gurgaon, India</strong></span></p>
<p style="text-align:center;" >
	<strong><span style="font-size:10px;" >Disclaimer: Your are receiving this email because you are subscribed to our promotional offers and updates. We might have also added you to our mailing list as a valued customer.</span></strong></p>
</font>
				  </td>
                <td align="right"><font face="Arial, Helvetica, sans-serif" size="1" color="#000000"> 	<a href="http://easylearning.guru/contact-us"  target="_blank"><font color="#FF0000" size="1" face="Arial, Helvetica, sans-serif"><u><a href="http://easylearningguru.createsend1.com/t/t-l-tdtkdkt-tueyutli-k/">Contact Us</a></u></font></a> | <a href="http://easylearning.guru/about-us"  target="_blank"><font color="#FF0000" size="1" face="Arial, Helvetica, sans-serif"><u><a href="http://easylearningguru.createsend1.com/t/t-l-tdtkdkt-tueyutli-u/">About Us</a></u></font></a> | <a href="http://easylearning.guru/courses"  target="_blank"><font color="#FF0000" size="1" face="Arial, Helvetica, sans-serif"><u><a href="http://easylearningguru.createsend1.com/t/t-l-tdtkdkt-tueyutli-o/">Courses</a></u></font></a></font></td>
              </tr>
			  <tr>
			   <td align="right" colspan="2">
			   <a href="http://easylearningguru.createsend1.com/t/t-u-tdtkdkt-tueyutli-y/">Unsubscribe</a>
			   </td>
			   </tr> -->


            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
</html>
